//  Cupcak-Condensed Settings
//  These should ONLY adjust sizing sizing (exception is currently table styles)
//  --------------------------

@import "../../scss/config/global";


// 1. Global Non-Tokens
// --------------------
$global-font-size: 12px;

// 2. Alerts
// ---------

$alert-padding: 6px;
$alert-top-padding: 7px;
$alert-font-size: 11px;
$alert-icon-width: 14px;
$alert-top-icon-padding : 28px;
$alert-icon-padding     : 28px;


// 3. Avatars
// ----------

$avatar-size: 2.5rem;
$avatar-fs: 12px;
$avatar-status-margin: 1px;
$avatar-status-size: 8px;

// 4. Badges
// ---------

$badge-padding: .15em .4em .2em;
$badge-border-width: 1px;
$badge-border-style: solid;
$badge-font-size: 10px;
$badge-line-height: 1;
$badge-xs: 8px;
$badge-sm: 9px;
$badge-lg: 18px;
$badge-xl: 20px;

// 7. Breadcrumbs
// --------------

$breadcrumb-padding: 0;
$breadcrumb-font-size: 11px;
$breadcrumb-font-weight: bold;
$breadcrumb-divider-padding: 0 10px;
$breadcrumb-divider-font-size: 0.75rem;
$breadcrumb-divider-content: "\f105";

// 8. Buttons
// ----------

$btn-font-size: 12px;
$btn-line-height: 1;
$btn-default-padding-v: 6px;
$btn-default-padding-h: 22px;
$bt-c: $color-gray-6;
$btn-xs-font: 9px;
$btn-xs-padding: 3px 6px 2px;
$btn-sm-font: 11px;
$btn-sm-padding: 4px 16px;
$btn-lg-font: 14px;
$btn-lg-padding: 10px 30px 9px;
$btn-xl-font: 16px;
$btn-xl-padding: 18px 40px;
$btn-box-width: 30px;
$btn-box-width-xs: 20px;
$btn-box-width-sm: 25px;
$btn-box-width-lg: 40px;
$btn-box-width-xl: 55px;
$btn-caret-width: 25px;
$btn-icon-dropdown-width: 45px;

// 9. Cards
// --------

$card-header-font-size: 14px;
$card-body-font-size: 12px;
$card-title-font-size: 16px;
$card-title-margin: .25rem 0;
$card-subtitle-font-size: 14px;
$card-menu-font-size: 100%;
$card-min-width: 250px;
$card-padding-v: 0.5rem;
$card-padding-h: 0.75rem;
$card-group-margin: 15px;
$card-deck-base-card-width: 100%;
$card-deck-base-card-height: 350px;
$card-deck-base-card-margin-bottom: 10px;
$card-deck-padding: 10px;
$card-deck-mobile-padding: 0;
$card-deck-tablet-padding: 20px;
$card-deck-laptop-padding: 20px;
$card-deck-laptop-card-width: calc(50% - 5px);
$card-deck-desktop-padding: 20px;
$card-deck-desktop-card-width: calc(33.333% - 6.667px);
$card-deck-hd-padding: 20px;
$card-deck-hd-card-width: calc(25% - 7.5px);

// 10. Checkboxes
// --------------

$checkbox-size: 18px;
$checkbox-size-sm: 12px;
$checkbox-size-lg: 24px;
$checkbox-size-xl: 30px;

// 11. Dropdown
// ------------

$dropdown-glued: true;
$dropdown-list-margin: 0;
$dropdown-list-padding: 0;
$dropdown-padding: .5rem .75rem;
$dropdown-font-size: 12px;
$dropdown-width: 200px;
$dropdown-divider-margin: 0;
$dropdown-grid-item-padding: 10px;
$dropdown-grid-padding: 6px;

// 13. Footer
// ----------

$footer-font-size: 10px;
$footer-padding: 15px;
$footer-trans-font-size: 10px;
$footer-height: 40px;

// 14. Form Inputs
// ---------------

$control-font-size: 12px;
$control-line-height: 1.166667;
$control-padding-v: 6px;
$control-padding-h: 7px;
$control-height: 30px;
$control-border-width: 1px;
$control-border-radius: 2px;
$control-icon-padding: 32px;
$control-hint-font-size: 85%;
$control-label-padding: $control-padding-v 0;
$control-element-padding: 1em 0;
$control-element-label-padding: 0 0 $control-padding-v 0;
$control-select-padding-r: 1em;
$fieldset-padding: 0;
$fieldset-margin: $control-padding-v 0;
$fieldset-width: 100%;
$fieldset-border: 0;
$fieldset-legend-padding: 0.3em 0;
$control-xs: 9px;
$control-sm: 11px;
$control-lg: 16px;
$control-xl: 18px;
$control-xs-padding: 2px 5px;
$control-sm-padding: 6px 7px 5px;
$control-lg-padding: 10px;
$control-xl-padding: 14px;
$control-xs-height: 20px;
$control-sm-height: 25px;
$control-lg-height: 40px;
$control-xl-height: 50px;
$control-group-padding: 1em;


$select-padding      : $control-padding-v $control-padding-h;
$select-padding-sm   : $control-sm-padding;
$select-padding-lg   : $control-lg-padding;
$select-padding-xl   : $control-xl-padding;
$select-font-size    : 12px;
$select-font-size-sm : $control-sm;
$select-font-size-lg : $control-lg;
$select-font-size-xl : $control-xl;
$select-height       : $control-height;
$select-height-sm    : $control-sm-height;
$select-height-lg    : $control-lg-height;
$select-height-xl    : $control-xl-height;


// 15. Header
// ----------
$header-logo-max-width: 120px;
$header-height: 50px;
$header-logo-width: 85px;

// 20. Media Object
// ----------------

$media-padding: 12px 8px;
$media-margin: 0 8px;


// 21. Modals
// ----------

$modals-dialog-top-magin: 30px;
$modals-confirmation-margin-top: 140px;
$modals-confirmation-width: 400px;
$modals-width: 600px;
$modals-close-size: 30px;
$modals-close-padding: 0 2px;
$modals-close-font-size: 1.5rem;
$modals-body-font-size: 12px;
$modals-title-font-size: 14px;
$modals-confirmation-icon-fs: 17px;
$modals-confirmation-icon-margin: 16px 0 12px;
$modals-confirmation-title-fs: $font-header-sm-font-size;
$modals-confirmation-title-weight: $font-header-sm-font-weight;
$modals-confirmation-title-margin: 0 0 15px;
$modals-confirmation-text-margin: 0;
$modals-confirmation-buttons-margin: 25px 0 15px;
$modal-body-padding: 20px;
$modal-header-padding: 12px 20px;
$modal-footer-padding: 10px 20px;

// 20. Media Object
// ----------------

$media-padding: 8px;
$media-margin: 0 6px;


// 22. Notifications
// -----------------

$notify-min-width: 390px;
$notify-width: 25vw;
$notify-screen-spacing: 16px;

// 23. Pagination
// --------------

$pagination-margin-bottom: $spacing-global-margin;
$pagination-gradients: false;
$pagination-item-spacing: 4px;
$pagination-font-size: 12px;
$pagination-font-size-sm: 12px;
$pagination-font-size-lg: 14px;
$pagination-item-padding: 0 6px;
$pagination-item-padding-sm: 1px;
$pagination-item-padding-lg: 1px 7px;
$pagination-item-current-padding: 3px;


$popover-padding             : 4px 8px !default;
$popover-fs                  : 12px !default;

// 24. Progress
// ------------

$progress-height: 1.5rem;
$progress-height-sm: .75rem;
$progress-height-lg: 2.25rem;
$progress-margin-bottom: 1rem;


// 29. Tables
// ----------

$table-line-height: 1.5;
$table-padding: 3px 9px 2px;
$table-padding-sm: 5px 10px 7px;
$table-header-font-size: 10px;
$table-cell-font-size: 10px;
$table-sm-font-size: 13px;

// 30. Tabs
// --------
$tab-link-padding: 6px 10px;
$tabs-bordered-link-padding: 4px 10px;
$tabs-toggle-link-padding: 4px 10px;
$tab-space-between: 0;
$tabs-bordered-space-between: 3px;
$tabs-link-border-bottom: 2px;
$tabs-font-size-default: 12px;
$tab-font-size-xs: 8px;
$tab-font-size-sm: 10px;
$tab-font-size-lg: 18px;

// 31. Toast Alerts
// ----------------

$toast-alert-fs: 12px;
$toast-alert-margin: 0 0 1rem 0;
$toast-alert-padding: 10px 27px 10px 35px;
$toast-alert-bar-size: 3px;
$toast-alert-close-size: 30px;
$toast-alert-close-fs: 17px;
$toast-alert-icon-top: 14px;
$toast-alert-icon-left: 14px;
$toast-alert-icon-size: 12px;

$font-header-xs-font-size: 14px;
$font-header-xs-line-height: 16px;
$font-body-sm-font-size: 12px;
$font-body-sm-line-height: normal;
$font-body-font-size: 14px;
$font-body-line-height: 20px;
$font-header-sm-font-size: 20px;
$font-header-sm-line-height: 30px;
$font-header-md-font-size: 24px;
$font-header-md-line-height: 35px;
$font-header-lg-font-size: 36px;
$font-header-lg-line-height: 45px;
$font-header-xl-font-size: 48px;
$font-header-xl-line-height: 60px;
$font-header-xxl-font-size: 64px;
$font-header-xxl-line-height: 75px;
