// Breakpoints
$tablet: 769px !default;
$desktop: 980px !default;
$widescreen: 1180px !default;

// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
