@mixin notification {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-top: 0;
  width: 415px;
  position: fixed;
  bottom: 0;
  top: 50px;
  right: 0;
  transform: translateX(415px);
  transition: all 200ms ease;
}

@mixin notification-item {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  padding: 20px;
  position: relative;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.6875rem;

  &:hover {
    background-color: rgba(249, 149, 0, 0.2);
  }

  &:last-child {
    border-bottom: 0;
  }

  &-unread {
    background-color: rgba(51, 51, 51, 0.05);
  }
}
