/*
* ==========================================================================
* Button Shapes
* ==========================================================================
*/
@each $btn-shape in $btn-shapes {
  $btn-shape-name: nth($btn-shape, 1);
  $btn-shape-radius: nth($btn-shape, 2);

  .ipreo-btn-#{$btn-shape-name} {
    border-radius: $btn-shape-radius;
  }
}

.ipreo-btn-circle {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  // Make btn width equal to height. line height + padding + left&right border;
  width: unquote('calc(#{1em * $btn-line-height} + #{$btn-default-padding-v * 2} + #{$btn-border-width * 2})');
}

.ipreo-btn-box {
  padding-left: $btn-default-padding-v+.2em;
  padding-right: $btn-default-padding-v+.2em; 
}
