@mixin pagination-container {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
  margin-bottom: $pagination-margin-bottom;

  li {
    font-size: $pagination-font-size;
    margin-right: $pagination-item-spacing;
    border-radius: $pagination-item-border-radius;
  }
}

@mixin pagination-item-disabled {
  color: $pagination-item-color-disabled;
  background: lighten($pagination-item-color-disabled, 5%);
  cursor: not-allowed;

  &:hover {
    color: $pagination-item-color-disabled;
    background: lighten($pagination-item-color-disabled, 5%);
    cursor: not-allowed;
  }
}

@mixin pagination-ellipsis {
  content: '\2026';
  padding: 0;
  color: $pagination-item-color;
}
