//Pagination

@import 'mixins';

.c-pagination {
  @include pagination-container;

  .c-pagination-current {
    min-width: 20px;
    padding: $pagination-item-padding;
    text-align: center;
    background: $pagination-item-current-bg;
    color: $pagination-item-current-color;
    border: 1px solid darken($pagination-item-current-bg, 4%);
    cursor: default;

    &:hover {
      background: $pagination-item-current-bg;
    }
  }

  a,
  &-link {
    @if $pagination-gradients == true {
      @include linear-gradient(to bottom, lighten($pagination-item-bg, 6%), $pagination-item-bg 66%, darken($pagination-item-bg, 4%));
    } @else {
      background: $pagination-item-bg;
    }

    color: $pagination-item-color;
    border: 1px solid darken($pagination-item-bg, 4%);
    display: block;
    min-width: 20px;
    font-size: $pagination-font-size;
    text-align: center;
    padding: $pagination-item-padding;
    border-radius: $pagination-item-border-radius;
    margin-right: $pagination-item-spacing;

    &:hover {
      background: lighten($pagination-item-bg, 4%);
    }
  }

  &-disabled {
    a,
    &-link {
      @include pagination-item-disabled;
    }
  }

  &-ellipsis::after {
    @include pagination-ellipsis;
  }
}


.c-pagination-sm {
  @include pagination-container;

  .c-pagination-current {
    color: $pagination-item-current-color-sm;
    font-weight: bold;
    min-width: 15px;
    text-align: center;
    padding: $pagination-item-padding-sm;
  }

  .c-pagination-disabled {
    @include pagination-item-disabled;
  }

  .c-pagination-ellipsis::after {
    @include pagination-ellipsis;
  }

  .c-pagination-previous a::before,
  .c-pagination-previous.disabled::before {
    content: '\f104';
    font-family: fontawesome;
    display: inline-block;
  }

  .c-pagination-next a::after,
  .c-pagination-next.disabled::after {
    content: '\f105';
    font-family: fontawesome;
    display: inline-block;
  }

  a,
  &-link {
    background: transparent;
    border: 0;
    display: block;
    min-width: 15px;
    color: $pagination-item-color-sm;
    padding: $pagination-item-padding-sm;
    font-size: $pagination-font-size-sm;
    text-align: center;

    &:hover {
      color: $pagination-item-color-hover-sm;
    }
  }
}

.c-pagination-lg {
  @include pagination-container;

  .c-pagination-current {
    background: $pagination-item-current-bg;
    color: $pagination-item-current-color;
    border: 1px solid $pagination-item-current-bg;
    border-radius: $pagination-item-border-radius;
    cursor: default;
    min-width: 30px;
    text-align: center;
    font-size: $pagination-font-size-lg;
    padding: $pagination-item-padding-lg;

    &:hover {
      background: $pagination-item-current-bg;
    }
  }

  .c-pagination-disabled {
    @include pagination-item-disabled;
  }

  .c-pagination-ellipsis::after {
    @include pagination-ellipsis;
  }

  a,
  &-link {
    @if $pagination-gradients == true {
      @include linear-gradient(to bottom, lighten($pagination-item-bg, 6%), $pagination-item-bg 66%, darken($pagination-item-bg, 4%));
    } @else {
      background: $pagination-item-bg;
    }

    color: $pagination-item-color;
    border: 1px solid darken($pagination-item-bg, 4%);
    display: block;
    min-width: 30px;
    text-align: center;
    border-radius: $pagination-item-border-radius;
    padding: $pagination-item-padding-lg;
    font-size: $pagination-font-size-lg;

    &:hover {
      background: lighten($pagination-item-bg, 4%);
    }
  }
}

.c-pagination-previous a::before,
.c-pagination-previous.disabled::before {
  content: '\f0d9';
  font-family: fontawesome;
  display: inline-block;
}

.c-pagination-next a::after,
.c-pagination-next.disabled::after {
  content: '\f0da';
  font-family: fontawesome;
  display: inline-block;
}

.c-pagination-previous::before,
.c-pagination-previous.disabled::before {
  content: '\f0d9';
  font-family: fontawesome;
  display: inline-block;
}

.c-pagination-next::after,
.c-pagination-next.disabled::after {
  content: '\f0da';
  font-family: fontawesome;
  display: inline-block;
}
