// Colors: Default went to a different set of orange variables - this to keep bd accurate
$color-warning-0: #fff9db;
$color-warning-1: #fff3bf;
$color-warning-2: #ffec99;
$color-warning-3: #ffe066;
$color-warning-4: #ffd43b;
$color-warning-5: #fcc419;
$color-warning-6: #fab005;
$color-warning-7: #f59f00;
$color-warning-9: #e67700;
$color-warning-8: #f08c00;
$success          : $color-success-7;
$danger           : $color-danger-7;


// Other Colors
$color-bd-text: #414152;
$color-brand: #0079bd;
$color-dividers: #e6e6e6;
$color-s-1: rgba(0, 0, 0, 0.2);
$color-s-2: rgba(0, 0, 0, 0.1);
$color-bd-text-light: #8d8d97;

// Font Styles:

// body font style
$font-body-font-size: 14px;
$font-body-line-height: 20px;
$font-body-color: #414152;
$font-body-font-style: normal;
$font-body-font-weight: 400;
$font-body-font-family: Source Sans Pro;

@mixin font-body () {
  font-size: $font-body-font-size;
  line-height: $font-body-line-height;
  color: $font-body-color;
  font-style: $font-body-font-style;
  font-weight: $font-body-font-weight;
  font-family: $font-body-font-family;
}

// body-sm font style
$font-body-sm-font-size: 13px;
$font-body-sm-line-height: 15px;
$font-body-sm-color: inherit;
$font-body-sm-font-style: normal;
$font-body-sm-font-weight: 400;
$font-body-sm-font-family: Source Sans Pro;

@mixin font-body-sm () {
  font-size: $font-body-sm-font-size;
  line-height: $font-body-sm-line-height;
  color: $font-body-sm-color;
  font-style: $font-body-sm-font-style;
  font-weight: $font-body-sm-font-weight;
  font-family: $font-body-sm-font-family;
}

// Header XXL font style
$font-header-xxl-font-size: 30px;
$font-header-xxl-line-height: 35px;
$font-header-xxl-text-align: left;
$font-header-xxl-color: inherit;
$font-header-xxl-font-style: normal;
$font-header-xxl-font-weight: 400;
$font-header-xxl-font-family: Source Sans Pro;

@mixin font-header-xxl () {
  font-size: $font-header-xxl-font-size;
  line-height: $font-header-xxl-line-height;
  text-align: $font-header-xxl-text-align;
  color: $font-header-xxl-color;
  font-style: $font-header-xxl-font-style;
  font-weight: $font-header-xxl-font-weight;
  font-family: $font-header-xxl-font-family;
}

// Header XL font style
$font-header-xl-font-size: 22px;
$font-header-xl-line-height: 35px;
$font-header-xl-text-align: left;
$font-header-xl-color: inherit;
$font-header-xl-font-style: normal;
$font-header-xl-font-weight: 400;
$font-header-xl-font-family: Source Sans Pro;

@mixin font-header-xl () {
  font-size: $font-header-xl-font-size;
  line-height: $font-header-xl-line-height;
  text-align: $font-header-xl-text-align;
  color: $font-header-xl-color;
  font-style: $font-header-xl-font-style;
  font-weight: $font-header-xl-font-weight;
  font-family: $font-header-xl-font-family;
}

// Header LG font style
$font-header-lg-font-size: 18px;
$font-header-lg-line-height: 25px;
$font-header-lg-text-align: left;
$font-header-lg-color: inherit;
$font-header-lg-font-style: normal;
$font-header-lg-font-weight: 600;
$font-header-lg-font-family: Source Sans Pro;

@mixin font-header-lg () {
  font-size: $font-header-lg-font-size;
  line-height: $font-header-lg-line-height;
  text-align: $font-header-lg-text-align;
  color: $font-header-lg-color;
  font-style: $font-header-lg-font-style;
  font-weight: $font-header-lg-font-weight;
  font-family: $font-header-lg-font-family;
}

// Header MD font style
$font-header-md-font-size: 15px;
$font-header-md-line-height: 20px;
$font-header-md-text-align: left;
$font-header-md-color: inherit;
$font-header-md-font-style: normal;
$font-header-md-font-weight: 600;
$font-header-md-font-family: Source Sans Pro;

@mixin font-header-md () {
  font-size: $font-header-md-font-size;
  line-height: $font-header-md-line-height;
  text-align: $font-header-md-text-align;
  color: $font-header-md-color;
  font-style: $font-header-md-font-style;
  font-weight: $font-header-md-font-weight;
  font-family: $font-header-md-font-family;
}

// Header SM font style
$font-header-sm-font-size: 14px;
$font-header-sm-line-height: 20px;
$font-header-sm-text-align: left;
$font-header-sm-color: inherit;
$font-header-sm-font-style: normal;
$font-header-sm-font-weight: 600;
$font-header-sm-font-family: Source Sans Pro;

@mixin font-header-sm () {
  font-size: $font-header-sm-font-size;
  line-height: $font-header-sm-line-height;
  text-align: $font-header-sm-text-align;
  color: $font-header-sm-color;
  font-style: $font-header-sm-font-style;
  font-weight: $font-header-sm-font-weight;
  font-family: $font-header-sm-font-family;
}

// Header XS font style
$font-header-xs-font-size: 12px;
$font-header-xs-line-height: 20px;
$font-header-xs-text-align: left;
$font-header-xs-color: inherit;
$font-header-xs-font-style: normal;
$font-header-xs-font-weight: 600;
$font-header-xs-font-family: Source Sans Pro;

@mixin font-header-xs () {
  font-size: $font-header-xs-font-size;
  line-height: $font-header-xs-line-height;
  text-align: $font-header-xs-text-align;
  color: $font-header-xs-color;
  font-style: $font-header-xs-font-style;
  font-weight: $font-header-xs-font-weight;
  font-family: $font-header-xs-font-family;
}

// Sizing
$sizing-y: 4px;
$sizing-blur: 9px;
$sizing-spread: 1px;
$sizing-000: 0;
$sizing-global-gutter: 14px;

// Shadows
$shadow-tooltip-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2),0 0 0 1px rgba(0, 0, 0, 0.1);
