// Colors: Default went to a different set of orange variables - this to keep bd accurate
$color-warning-0: #fff9db;
$color-warning-1: #fff3bf;
$color-warning-2: #ffec99;
$color-warning-3: #ffe066;
$color-warning-4: #ffd43b;
$color-warning-5: #fcc419;
$color-warning-6: #fab005;
$color-warning-7: #f59f00;
$color-warning-8: #f08c00;
$color-warning-9: #e67700;
$success          : $color-success-7;
$danger           : $color-danger-7;
$warning: $color-warning-8;

$color-bd-text: #414152;
$color-brand: #0079bd;
$color-dividers: #e6e6e6;
$color-s-1: rgba(0, 0, 0, 0.2);
$color-s-2: rgba(0, 0, 0, 0.1);
$color-bd-text-light: #8d8d97;
$font-body-color: #414152;

$primary: $color-brand;
$global-bg-color: #f2f2f2;
$global-bg-selected-color: #fafad2;
$global-bg-hover-color: #eaf7ff;

$black: $font-body-color;
$white: white;

$font-body-lg-color: $font-body-color;
$text-muted-color: #8d8d97;

$anchor-color: $primary;
$anchor-color-hover: $primary;
$anchor-color-active: $color-primary-3;
$anchor-color-disabled: $color-gray-6;

$btn-default-c: $font-body-color;
$btn-secondary-c: $font-body-color;
$btn-secondary-bg-active: #e6e6e6;
$btn-secondary-disabled: $color-gray-0;

$btn-active-selected: #9494a1;

$btn-disabled-c: rgba($font-body-color, 0.35);
$btn-disabled-bg: $color-gray-0;

$dropdown-color            : $font-body-color;
$dropdown-color-hover      : $font-body-color;
$dropdown-background-color : white;
$dropdown-background-hover : $color-gray-0;

$popover-bd-c          : rgba(0, 0, 0, 0.18);
$popover-color         : $font-body-color;

$popover-success-bg   : #e6f8dd;
$popover-success-bd   : rgba(0, 0, 0, 0.17);
$popover-success-color: #42721f;
$popover-primary-bg   : $color-primary-0;
$popover-primary-bd   : rgba(0, 0, 0, 0.17);
$popover-primary-color: $color-primary-7;
$popover-warning-bg   : #fef7e3;
$popover-warning-bd   : rgba(0, 0, 0, 0.17);
$popover-warning-color: #866c28;
$popover-danger-bg    : #fde9e8;
$popover-danger-bd    : rgba(0, 0, 0, 0.17);
$popover-danger-color : #965650;

$control-placeholder-c       : rgba($font-body-color, 0.6);
$control-placeholder-hover-c : $font-body-color;

$control-border           : $color-gray-3;
$control-hover-border     : #bababa;
$control-active-border    : #52afe4;

$control-icon-color       : $color-bd-text-light;

$control-success-c  : #4daa0b;
$control-success-bg : #f3f8ef;
$control-warning-c  : #f8c000;
$control-warning-bg : #fcfbe7;
$control-danger-c   : #e98f88;
$control-danger-bg  : #fff6f5;

$control-disabled-border     : #d9d9d9;
$control-disabled-background : #f9f9f9;

$select-error-c          : #965650;

$select-color              : $font-body-color;

$card-header-icon-color:       $color-gray-4;
$card-header-icon-hover-color: darken($color-gray-4, 28%);
$table-background               : white;

$table-border-color             : $color-dividers;
$table-head-border-color        : #8d8d97;
$table-head-cell-hover          : white;

$table-row-hover                : #eaf7ff;
$table-row-stripe-hover         : $table-row-hover;
$table-striped-background       : #f9f9f9;

$table-head-background          : white;
$table-foot-background          : white;
$table-head-font-color          : $font-body-color;

$table-foot-font-color          : $font-body-color;
$table-state-selected           : #fafad2;

$tabs-color: $primary;
$tabs-color-active: $font-body-color;
$tabs-color-disabled: $color-gray-6;

$tabs-bg: transparent;
$tabs-bg-hover: $color-gray-1;
$tabs-bg-active: $color-gray-1;

$modals-close-color: #000000;

$box-border-color: rgba(0, 0, 0, 0.18);
$box-bg: white;

$box-text-color: $font-body-color;

$alert-danger-color: #965650;
$alert-warning-color: #866c28;
$alert-success-color: #42721f;
$alert-primary-color: #414152;
$alert-default-color: #414152;
$alert-danger-icon-color: #d75248;
$alert-warning-icon-color: #d7ad3b;
$alert-success-icon-color: #51a71c;
$alert-primary-icon-color: #62a2b5;
$alert-default-icon-color: #414152;
$alert-default-bg: #f1f3f5;
$alert-primary-bg: #cdecf5;
$alert-success-bg: #e6f8dd;
$alert-danger-bg: #fde9e8;
$alert-warning-bg: #fef7e3;

$toast-alert-border: rgba(0, 0, 0, 0.1);
$toast-alert-color: $font-body-color;
$toast-alert-bar-bg: $alert-default-bg;

$toast-alert-danger-bar-bg: $alert-danger-bg;
$toast-alert-warning-bar-bg: $alert-warning-bg;
$toast-alert-success-bar-bg: $alert-success-bg;
$toast-alert-info-bar-bg: $alert-primary-bg;

$accordion-item-panel-bg-hover: $color-gray-1;
$accordion-item-panel-opened-bg: $color-gray-1;
