.c-nav-dropdown-multilevel {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 50;
  top: $nav-level-2-height;
  width: 100%;
  background: $nav-dropdown-bg;
  max-width: $nav-dropdown-max-width;
  box-shadow: 2px 2px 8px hsla(0, 0%, 20%, 0.07);
  opacity: 1;
  visibility: visible;

  @include bp-tablet-and-up {
    display: none;
    opacity: 0;
  }

  @include bp-until-desktop {
    max-width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: none;
  }

  li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
    position: relative;
    transition: background 200ms ease;
    z-index: 50;
    box-sizing: border-box;

    a {
      margin: 0;
      padding: 10px 18px 10px 20px;
      font-size: $nav-dropdown-font-size;
      line-height: 1.2;
      display: inline-block;
      text-decoration: none;
      float: left;
      color: $nav-dropdown-text-hover;
      transition: color 200ms ease;

      @include bp-until-desktop {
        width: auto;
      }
    }

    &.is-header {
      background: rgba(112, 112, 133, 0.4);
      color: #ffffff;
      font-weight: bold;
      padding: 10px 20px;
      font-size: $nav-dropdown-font-size;
    }

    &:hover {
      background: $nav-dropdown-bg-hover;
      color: $nav-dropdown-text-hover;

      > a {
        color: $nav-dropdown-text-hover;
        display: block;
        opacity: 1;

        i.fa {
          color: $nav-dropdown-text-hover;
        }
      }
    }
  }

  i.fa {
    float: left;
    line-height: 1.2;
    font-size: 14px;
    display: block;
    padding-right: 10px;
    transition: color 200ms ease;
  }

  i.fa.fa-indicator {
    float: right;
    line-height: 1.5;
    font-size: 14px;
    display: block;
    padding-left: 10px;
    padding-right: 0;

    @include bp-until-desktop {
      height: 50px;
      position: absolute;
      top: 0;
      right: 20px;
      line-height: 50px;
      z-index: -1;
    }
  }

  .c-nav-app-toggle-dropdown,
  .c-nav-dropdown-multilevel {
    left: 100%;
    top: 0;

    @include bp-tablet-and-up {
      &.left-side {
        left: -100%;
      }
    }

    @include bp-until-desktop {
      left: 0;
      border: 1px solid darken($nav-dropdown-text-hover, 20);
    }
  }
}

.c-nav-dropdown-multilevel-link {
  a {
    margin: 0;
    padding: 10px 20px;
    font-size: $nav-dropdown-font-size;
    line-height: 1.2;
    display: inline-block;
    float: left;
    width: 100%;
    color: $nav-dropdown-text-hover;
    transition: color 200ms ease;

    @include bp-until-desktop {
      width: auto;
    }
  }
}

.has-children::after {
  position: absolute;
  top: 40%;
  right: 15px;
  line-height: 2;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid $nav-link-text-color;
  border-right: 1px solid $nav-link-text-color;
  content: "";
  transform: rotate(-45deg);
  transition: border-color 0.2s ease;
}
