.c-nav-drop-down,
.c-nav-dropdown-tab-bar {
  @extend %row;
  @extend %justify-left;

  display: block;
  border-bottom: 1px solid $nav-tab-bar-border;
  font-weight: normal;
  color: $nav-tab-bar-text;
  transition: 0.2s all;
  position: absolute;
  width: 100%;
  top: $nav-level-2-height;
  left: 0;
  padding-left: 5px;

  @include bp-tablet-and-up {
    display: block;
    opacity: 0;
    visibility: hidden;
  }

  @include bp-until-desktop {
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: none;
  }

  li {
    float: left;
    margin: 0;
    padding: 0;
    display: block;

    @include bp-until-desktop {
      width: 100%;
      position: relative;
    }
  }

  a {
    display: block;
    padding: 5px 15px;
    line-height: 2;
    background-color: transparent;
    font-size: $nav-tab-bar-font-size;
    float: left;
    color: $primary;
  }

  a:hover {
    color: $nav-tab-bar-text-active;
  }

  a,
  a:visited {
    text-decoration: none;
    position: relative;
  }

  a::after,
  a:visited::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: $nav-tab-bar-underline-hover;
    transition: 0.2s;
  }

  a:hover::after,
  a:visited:hover::after {
    width: 100%;
  }

  i.fa {
    display: inline-block;
    padding-right: 5px;

    &.fa-indicator {
      padding-right: 0;
      padding-left: 10px;
      line-height: 1.2;

      @include bp-until-desktop {
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        line-height: 25px;
      }
    }
  }

  ::selection {
    background: lighten($nav-level-2-active-bg, 20);
  }
}

.c-nav-drop-down,
.c-nav-dropdown-tab-bar li {
  @extend %col-flex;

  float: left;
  margin: 0;
  padding: 0;
  display: block;

  @include bp-until-desktop {
    width: 100%;
    position: relative;
  }
}

.c-nav-dropdown-tab-bar-link {
  display: block;
  padding: 6px 15px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0);
  font-size: em($nav-tab-bar-font-size);
  float: left;
  width: 100%;
}
