@import 'modals/modals';
@import 'avatar/avatar';
@import 'blockquote/blockquote';
@import 'buttons/buttons';
@import 'button-groups/button-groups';
@import 'checkboxes/checkboxes';
@import 'dropdown/dropdown';
@import 'forms/forms';
@import 'switches/switches';
@import 'badges/badges';
@import 'breadcrumbs/breadcrumbs';
@import 'pagination/pagination';
@import 'progress/progress';
@import 'notifications/notifications';
@import 'navigation/navigation';
@import 'media/media';
@import 'alerts/alerts';
@import 'table/tables';
@import 'list/list';
@import 'list-group/list-group';
@import 'accordion/accordion';
@import 'footer/base';
@import 'tabs/tabs';
@import 'cards/cards';
@import 'tooltips-popovers/tooltips-popovers';
@import 'typography/typography';
@import 'color/color';
@import 'loaders/loader';
