////
/// @group footer
////

/// $footer-font-size     
$footer-font-size       : 12px !default;

/// $footer-color
$footer-color           : $color-gray-6 !default;

/// $footer-color
$footer-color-link           : $color-gray-8 !default;

/// $footer-background-color
$footer-background-color: $color-gray-0 !default;

/// $footer-padding       
$footer-padding         : 18px 15px !default;

/// $footer-trans-font-size 
$footer-trans-font-size : 12px !default;

$footer-height: 50px !default;

/// $footer-trans-color
$footer-trans-color     : $black !default;

.c-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $footer-color;
  font-size: $footer-font-size;
  background-color: $footer-background-color;
  padding: $footer-padding;
  z-index: z(footer);
  line-height: 1;
  width: 100%;
  border-top: 1px solid $color-gray-3;
  height: $footer-height;

  &-link {
    margin-left: 10px;
    display: inline-block;
    background-color: transparent;

    a {
      color: $footer-color;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    display: inline-block;
    padding: 5px;
    line-height: 1.5;
  }

  &.c-footer-transparent {
    color: $footer-trans-color;
    font-size: $footer-trans-font-size;
    background-color: transparent;
    z-index: map-get($zindex, footer);
    border-top: 0;

    .c-footer-right {
      .c-footer-link a {
        color: $footer-trans-color;
      }
    }
  }
}


