////
/// @group footer
////

/// $footer-font-size     
$footer-font-size       : 12px !default;

/// $footer-color
$footer-color           : $white !default;

/// $footer-background-color
$footer-background-color: $primary !default;

/// $footer-padding       
$footer-padding         : 12px 24px !default;

/// $footer-trans-font-size 
$footer-trans-font-size : 14px !default;

/// $footer-trans-color
$footer-trans-color     : $black !default;

.c-footer {
  @include create-row();
  @include row-justify(space-between);

  color: $footer-color;
  font-size: $footer-font-size;
  background-color: $footer-background-color;
  padding: $footer-padding;
  z-index: z(footer);
  width: 100%;

  &-link {
    margin-left: rem-calc(10);
    display: inline-block;
    background-color: transparent;

    a {
      color: $footer-color;
    }

    @include bp(sm) {
      text-align: center;
    }
  }

  @include bp($until: md) {
    text-align: center;
    display: inline-block;
  }

  &.c-footer-transparent {
    color: $footer-trans-color;
    font-size: $footer-trans-font-size;
    background-color: transparent;
    z-index: map-get($zindex, footer);

    .c-footer-right {
      .c-footer-link a {
        color: $footer-trans-color;
      }
    }
  }
}


