
@mixin misc-helpers {
  .c-cursor-default {
    cursor: default;
  }

  .c-cursor-pointer {
    cursor: pointer;
  }

  .c-cursor-grab {
    cursor: move;  //IE fallback
    cursor: grab;
  }

  .c-cursor-grabbing {
    cursor: move;  //IE fallback
    cursor: grabbing;
  }

  .c-cursor-move {
    cursor: move;
  }

  .c-full-height {
    height: 100%;
  }

  .c-full-width {
    width: 100%;
  }

  .c-p-static {
    position: static;
  }

  .c-p-relative {
    position: relative;
  }

  .c-p-absolute {
    position: absolute;
  }

  .c-p-fixed {
    position: fixed;
  }

  .c-no-underline,
  .c-no-underline:hover {
    text-decoration: none;
  }

  .c-overflow-visible {
    overflow: visible;
  }

  .c-overflow-scroll {
    overflow: scroll;
  }

  .c-overflow-auto {
    overflow: auto;
  }

  .c-overflow-auto-x {
    overflow-x: auto;
  }

  .c-overflow-auto-y {
    overflow: auto;
  }

  .c-overflow-hidden {
    overflow: hidden;
  }

  .c-overflow-hidden-x {
    overflow-x: hidden;
  }

  .c-overflow-hidden-y {
    overflow-y: hidden;
  }
}
