@import '../config/global';

$space-values : (
  0   : $space-none,
  xs  : $space-xs,
  sm  : $space-sm,
  md  : $space-md,
  lg  : $space-lg,
  xl  : $space-xl,
  xxl : $space-xxl,
  xxxl: $space-xxxl,
) !default;

$space-prefixes : (
  p       : padding,
  p-top   : padding-top,
  p-right : padding-right,
  p-bottom: padding-bottom,
  p-left  : padding-left,
  m       : margin,
  m-top   : margin-top,
  m-right : margin-right,
  m-bottom: margin-bottom,
  m-left  : margin-left,
) !default;

@mixin space-class-export {
  @each $attr-short, $attr-long in $space-prefixes {
    @each $value-name, $value-size in $space-values {
      .c-#{$attr-short}-#{$value-name} {
        #{$attr-long}: #{$value-size};
      }
    }
  }
}



