////
/// @group dropdown
////

/// $dropdown-glued
$dropdown-glued           : true !default;

/// $dropdown-list-margin
$dropdown-list-margin     : 0 !default;

/// $dropdown-list-padding
$dropdown-list-padding    : 0 !default;

/// $dropdown-padding
$dropdown-padding         : .75rem 1rem !default;

/// $dropdown-border
$dropdown-border          : 1px solid $color-gray-2 !default;

/// $dropdown-color
$dropdown-color           : $color-gray-7 !default;

/// $dropdown-color-hover
$dropdown-color-hover     : $primary !default;

/// $dropdown-background-color:
$dropdown-background-color: $white !default;

/// $dropdown-background-hover:
$dropdown-background-hover: $color-gray-1 !default;

/// $dropdown-box-shadow
$dropdown-box-shadow      : 0 0 4px rgba(0, 0, 0, 0.06) !default;

/// $dropdown-font-family
$dropdown-font-family     : arial !default;

/// $dropdown-font-size
$dropdown-font-size       : 12px !default;

/// $dropdown-font-weight
$dropdown-font-weight     : bold !default;

/// $dropdown-width
$dropdown-width-sm           : 200px !default;

/// $dropdown-width
$dropdown-width           : 300px !default;

/// $dropdown-radius 
$dropdown-radius          : $global-radius !default;

/// $dropdown-divider-margin
$dropdown-divider-margin  : 0 !default;

/// $dropdown-grid-item-padding
$dropdown-grid-item-padding: 12px !default;

/// $dropdown-grid-padding
$dropdown-grid-padding: 8px !default;

/// $dropdown-grid-padding
$dropdown-heading-font-size: 12px !default;

/// $dropdown-grid-padding
$dropdown-heading-font-weight: 600 !default;

/// $link-colors
$link-colors:
  '[class*="primary"]',
  '[class*="success"]',
  '[class*="warning"]',
  '[class*="danger"]',
  '.c-text-muted';

@mixin dropdown-list {
  display: none;
  position: absolute;
  padding: $dropdown-list-padding;
  margin: $dropdown-list-margin;
  top: -5px;
  left: 0;
  min-width: $dropdown-width-sm;
  list-style-type: none;
  background: $dropdown-background-color;
  font-family: $dropdown-font-family;
  color: $dropdown-color;
  border: $dropdown-border;
  box-shadow: $dropdown-box-shadow;
  border-radius: $dropdown-radius;
  box-sizing: border-box;
  z-index: 1000;
}

@mixin dropdown-item {
  position: relative;
  display: block;
  font-size: $dropdown-font-size;
  padding: $dropdown-padding;
  font-weight: $dropdown-font-weight;
  text-decoration: none;

  &:hover {
    background: $dropdown-background-hover;
    text-decoration: none;
  }

  &-selected {
    &::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 5px;
      top: calc(50% - 2px);
      right: 14px;
      transform: rotate(45deg) translateY(-50%);
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: $dropdown-color;
    }
  }
}

@mixin not($ignoreList...) {
  @if (length($ignoreList) == 1) {
    $ignoreList: nth($ignoreList, 1);
  }

  $exludeList: '';

  @each $not in $ignoreList {
    $exludeList: $exludeList + ':not(#{$not})';
  }

  &#{$exludeList} {
    @content;
  }
}

@mixin dropdown-grid {
  position: absolute;
  top: 110%;
  float: left;
  text-align: left;
  list-style: none;
  color: $dropdown-color;
  border-radius: $dropdown-radius;
  font-size: $dropdown-font-size;
  background-color: $dropdown-background-color;
  background-clip: padding-box;
  border: $dropdown-border;
  box-shadow: $dropdown-box-shadow;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  padding: $dropdown-grid-padding;
}


@mixin dropdown-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 33.333333%;
  overflow: hidden;
  text-align: center;
  padding: $dropdown-grid-item-padding;
  margin: 0;
  border: 1px solid transparent;

  &:hover {
    background: $color-gray-0;
    border-color: $color-gray-2;
  }
}
