@import "mixins";

.c-header {
  @include header;

  &-item {
    @include header-item;
  }

  &-brand {
    max-width: $header-logo-max-width;
  }

  &-left {
    display: flex;

    .c-header-item {
      border-right: 1px solid $header-borders;
    }
  }

  &-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .c-input-container {
      width: 100%;
      margin: 0 1.5rem;
    }
  }

  &-right {
    display: flex;
    justify-content: flex-end;

    .c-header-item {
      border-left: 1px solid $header-borders;
    }
  }

  &-notification {
    .c-badge-notification {
      align-items: center;
      background-color: $color-gray-1;
      border: 0;
      color: $color-gray-7;
      display: flex;
      font-size: 0.875rem;
      height: 2rem;
      width: 2rem;
      justify-content: center;

      &-alert {
        background-color: $danger;
        color: $white;
        position: absolute;
      }
    }
  }
}

.c-product-switcher {
  color: $header-text-color;
  font-size: 0.875rem;
  font-weight: bold;
}

.c-user-profile {
  color: $header-text-color;
  font-size: 0.75rem;
}

.c-dropdown-list-right {
  left: auto;
  right: 0;
  min-width: 150px;
}
