@import "mixins";

.c-header {
  @include header;

  &-fixed {
    position: fixed;
    top: 0;
  }

  &-item {
    @include header-item;
  }

  &-left {
    display: flex;
    align-items: center;

    .c-header-item {
      border-right: 1px solid $header-borders;
    }
  }

  &-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    .c-input-container {
      width: 100%;
      margin: 0 1.5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .c-header-item {
      border-left: 1px solid $header-borders;
    }
  }

  .c-dropdown-list-below {
    top: 100%;
  }
}

.c-header-inverse {
  background-color: $header-inverse-bg;
  border-color: $header-inverse-borders;

  .c-header-item {
    border-color: $header-inverse-borders;

    .c-header-item-link {
      color: $header-inverse-text-color;

      &:hover {
        background: $header-inverse-bg-hover;
      }
    }
  }
}

.c-header-tabs {
  &.c-tabs {
    box-shadow: inset 0 -1px 0 0 #e6edf1;
    padding-left: 20px;
  }
}

.c-header-logo img {
  width: $header-logo-width;
}
