$header-bg: $white;
$sidebar-tab-bg-color: $color-gray-1;
$sidebar-tab-border-color: $color-gray-2;
$sidebar-active-color: $color-primary-6;
$sidebar-toggle-bg: $color-gray-0;
$sidebar-borders: $color-gray-2;
$sidebar-text: $color-gray-6;
$sidebar-width: $sizing-sidebar-width;
$sidebar-even-row-bg: $color-gray-0;
$sidebar-row-hover: $color-orange-0;
$sidebar-nav-divider: $color-gray-2;
$sidebar-width: 250px;
