$main-content-padding: 15px !default;
$main-content-margin-top: 50px !default;

.c-wrapper {
  display: flex;
  min-height: calc(100vh - 100px); //this is footer height plus header height
  flex: 1 1 auto;
  width: 100%;
}

.c-main-content {
  background-color: $color-gray-1;
  color: $color-gray-7;
  flex-direction: row;
  flex: 1;
  padding-right: $main-content-padding;
  padding-left: $main-content-padding;
  margin-top: $main-content-margin-top;
}
