$global-sidebar-max-width: 260px !default;
$global-sidebar-background-color: #f5f5f5 !default;

@mixin sidebar {
  background-color: $global-sidebar-background-color;
  flex: 1;
  max-width: $global-sidebar-max-width;
  padding: $space-lg;
}

.c-sidebar {
  @include sidebar;

  order: -1;

  @media (min-width: 480px) and (max-width: 1024px) {
    padding: $space-sm;
  }
}

.c-sidebar-right {
  @include sidebar;

  order: 2;

  @media (min-width: 480px) and (max-width: 1024px) {
    padding: $space-sm;    
  }
}
