<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Cupcake</title>
  <link href="default.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- this is just demo stuff -->
  <style>
    section {
      padding: 2rem 0;
      border-bottom: 1px solid #eee;
    }
    
    .demo-wrapper {
      padding: 0 2rem;
      margin: 0 auto;
      position: relative;
      max-width: 900px;
    }
  </style>
</head>

<body>

<div class="c-alert c-alert-warning"> Hello I'm an alert!</div>

  <main class="c-wrapper">

    <div class="c-sidebar">
        <h3>Left Sidebar</h3>
    </div>
        <div class="c-sidebar-right">
        <h3>Right Sidebar</h3>
    </div>
    <div class="c-container">
                <div class="c-row">
        <div class="c-col">
          <a class="c-btn c-btn-primary" href="#">Primary Button</a>
          <a class="c-btn c-btn-default" href="#">Default Button</a>
          <a class="c-btn c-btn-success" href="#">Success Button</a>
          <a class="c-btn c-btn-warning" href="#">Warning Button</a>
          <a class="c-btn c-btn-danger" href="#">Danger Button</a>
        </div>
      </div>
      <section id="cards">
        <h3>Cards </h3> <br>
        <div class="c-row">
          <div class="c-col">
            <div class="c-card">
              <div class="c-card-header">Card Header
              </div>
              <div class="c-card-content">
                <div class="c-card-content-title">Lorem ipsum dolor sit amet consecteur.</div>
                <div class="c-card-content-subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="c-card-content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis luctus dui, ac suscipit eros. Praesent
                  fringilla, enim quis placerat dignissim, turpis metus vehicula lectus, faucibus tie turpis metus et urna.
                  Quisque dignissim nulla id scelerisque maximus. Praesent consectetur rhoncus mi, eget sollicitudin leo
                  placerat in. Sed semper commodo dui, et iaculis est facil isis nec.</div>
              </div>
              <div class="c-card-footer">Footer if needed</div>
            </div>
          </div>
          <div class="c-col">
            <div class="c-card">
              <div class="c-card-header">Card Header
              </div>
              <div class="c-card-content">
                <div class="c-card-content-title">Lorem ipsum dolor sit amet consecteur.</div>
                <div class="c-card-content-subtitle">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="c-card-content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis luctus dui, ac suscipit eros. Praesent
                  fringilla, enim quis placerat dignissim, turpis metus vehicula lectus, faucibus tie turpis metus et urna.
                  Quisque dignissim nulla id scelerisque maximus. Praesent consectetur rhoncus mi, eget sollicitudin leo
                  placerat in. Sed semper commodo dui, et iaculis est facil isis nec.</div>
              </div>
              <div class="c-card-footer">Footer if needed</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>