// Cards

@import 'mixins';

.c-card {
  @include card;

  &-header {
    @include card-header;
  }

  &-content {
    @include card-content;
  }

  &-footer {
    @include card-footer;
  }
}

@each $card-color in $card-colors {
  $card-color-namespace: nth($card-color, 1);
  $card-bg-color: nth($card-color, 2);

  .c-card-#{$card-color-namespace} {
    @include card-variant($card-bg-color, $card-bg-color, $white);
  }
}

.c-card-deck {
  margin-top: $header-height;
  padding-top: $spacing-global-gutter;

  .c-card {
    margin-bottom: $spacing-global-gutter;
  }
}
