////
/// @group radios
////

/// $radio-size           
$radio-size            : 18px !default;

/// $radio-size-sm         
$radio-size-sm         : 14px !default;

/// $radio-size-lg         
$radio-size-lg         : 24px !default;

/// $radio-size-xl        
$radio-size-xl         : 28px !default;

/// $radio-font-color  
$radio-font-color      : $color-gray-7 !default;

/// $radio-control  
$radio-control: transparent;

/// $radio-control-active  
$radio-control-active: $primary;

/// $radio-control-border
$radio-control-border: $color-gray-4;

/// $radio-control-disabled
$radio-control-disabled: #f4f4f4;


@mixin radio($size: $radio-size, $color: $primary) {
  cursor: pointer;
  font-size: $size;
  padding-right: $size / 2;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    display: none;

    + i {
      font-size: $size;
      text-decoration: none;
      font-style: normal;
      color: $radio-font-color;

      &::before {
        content: '';
        background: $radio-control;
        border-radius: 100%;
        border: 1px solid $radio-control-border;
        display: inline-block;
        width: $size;
        height: $size;
        position: relative;
        top: $size / 6;
        margin-right: $size / 2.5;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      + i {
        &::before {
          background-color: white;
          box-shadow: inset 0 0 0 $size / 5 $color;
          border-color: $color;
        }
      }
    }

    &:focus {
      + i {
        &::before {
          outline: none;
          border-color: $color;
        }
      }
    }

    &:disabled {
      + i {
        cursor: not-allowed;

        &::before {
          opacity: .5;
          box-shadow: inset 0 0 0 $size / 5 $radio-control-disabled;
          border-color: darken($radio-control-disabled, 25%);
          background: darken($radio-control-disabled, 25%);
        }
      }
    }

    + i {
      &:empty {
        &::before {
          margin-right: 0;
        }
      }
    }
  }
}

@mixin radio-color($color: $primary) {
  input[type="radio"]:checked + i::before {
    background-color: white;
    box-shadow: inset 0 0 0 4px $color;
    border-color: $color;
  }

  input[type="radio"]:focus + i::before {
    outline: none;
    border-color: $color;
  }
}

@mixin radio-size($size: $radio-size) {
  font-size: $size;
  padding-right: $size / 2;

  input[type="radio"] + i {
    font-size: $size;
  }

  input[type="radio"] + i::before {
    width: $size;
    height: $size;
    top: $size / 6;
    margin-right: $size / 2.5;
  }
}
