////
/// @group badges
////

/// $badge-padding:
$badge-padding: 4px !default;

/// $badge-border-width:
$badge-border-width: 1px !default;

/// $badge-border-style: 
$badge-border-style: solid !default;

/// $badge-border-radius:
$badge-border-radius: $global-radius !default;

/// $badge-border-radius-rounded:
$badge-border-radius-rounded: 30em !default;

/// $badge-font-size:
$badge-font-size: 11px !default;

/// $badge-font-weight: 
$badge-font-weight: normal !default;

/// $badge-line-height: 
$badge-line-height: 1 !default;

/// $badge-xs 
$badge-xs: 8px !default;

/// $badge-sm 
$badge-sm: 9px !default;

/// $badge-lg:  
$badge-lg: 18px !default;

/// $badge-xl: 
$badge-xl: 22px !default;

/// $primary
$badge-primary: $primary;

/// $secondary
$badge-secondary: $color-gray-1;

/// $success
$badge-success: $success;

/// $danger
$badge-danger: $danger;

/// $warning
$badge-warning: $warning;


// $badge-sizes
$badge-sizes:
  ("sm", $badge-sm)
  ("lg", $badge-lg)
  ("xl", $badge-xl) !default;

// $badge-colors
$badge-colors:
  ("primary", $badge-primary, $white, $badge-primary)
  ("secondary", $badge-secondary, $color-gray-7, $color-gray-4)
  ("success", $badge-success, $white, $badge-success)
  ("danger", $badge-danger, $white, $badge-danger)
  ("warning", $badge-warning, $white, $badge-warning) !default;

@mixin badge($background-color, $color: $badge-color, $border-color: $color) {
  border: $badge-border-width $badge-border-style $border-color;
  background-color: $background-color;
  color: $color;
}
