// /*
// * ==========================================================================
// * badges
// * ==========================================================================
// */

@mixin badge($background-color, $color: $badge-color, $border-color: $color) {
  border: $badge-border-width $badge-border-style $border-color;
  background-color: $background-color;
  color: $color;
}

.c-badge {
  @include badge($primary, $white, $primary);

  display: inline-block;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  white-space: nowrap;

  &-rounded {
    border-radius: $badge-border-radius-rounded;
  }

  &-outline {
    @include badge($primary, $primary);
  }
}

@each $badge-size in $badge-sizes {
  $badge-size-namespace: nth($badge-size, 1);
  $badge-size-font: nth($badge-size, 2);

  .c-badge-#{$badge-size-namespace} {
    font-size: $badge-size-font;
  }
}

@each $badge-color in $badge-colors {
  $badge-color-namespace: nth($badge-color, 1);
  $badge-bg-color: nth($badge-color, 2);
  $badge-color: nth($badge-color, 3);

  .c-badge-#{$badge-color-namespace} {
    @include badge($badge-bg-color, $white, $badge-bg-color);

    &-outline {
      @include badge(transparent, $badge-color);
    }
  }
}