@import "mixins";

.c-badge {
  @include badge;
  @include badge-style($primary, $white);

  &-rounded {
    border-radius: $badge-border-radius-rounded;
    padding-right: .5em;
    padding-left: .5em;
  }

  &-outline {
    @include badge-style($primary, $primary);
  }
}

@each $badge-size in $badge-sizes {
  $badge-size-namespace: nth($badge-size, 1);
  $badge-size-font: nth($badge-size, 2);

  .c-badge-#{$badge-size-namespace} {
    font-size: $badge-size-font;

    &:empty {
      padding: $badge-size-font - 6;
    }
  }
}

@each $badge-color in $badge-colors {
  $badge-color-namespace: nth($badge-color, 1);
  $badge-bg-color: nth($badge-color, 2);
  $badge-color: nth($badge-color, 3);

  .c-badge-#{$badge-color-namespace} {
    @include badge-style($badge-bg-color, $badge-color);

    &-outline {
      @include badge-style(transparent, $badge-bg-color);

      border: 1px solid $badge-bg-color;
    }
  }
}

.c-badge-secondary {
  .c-badge-link {
    color: $color-gray-7;
    opacity: .8;

    &:hover {
      color: $color-gray-7;
      opacity: 1;
    }
  }
}

.c-badge-top {
  vertical-align: top;
}
