@import "mixins";

.c-badge {
  @include badge;
  @include badge-style($color-gray-9, $white);

  &-rounded {
    border-radius: $badge-border-radius-rounded;
    padding-right: .5em;
    padding-left: .5em;
  }

  &-outline {
    @include badge-style($color-gray-9, $color-gray-9);
  }
}

.c-badge-secondary {
  @include badge-style($badge-secondary, $color-gray-9);

  border: 1px solid $color-gray-4;

  .c-badge-link {
    color: $color-gray-7;
    opacity: .8;

    &:hover {
      color: $color-gray-9;
      opacity: 1;
    }
  }
}

.c-badge-primary {
  @include badge-style($badge-primary);

  &-outline {
    @include badge-outline($badge-primary);
  }
}

.c-badge-success {
  @include badge-style($badge-success);

  &-outline {
    @include badge-outline($badge-success);
  }
}

.c-badge-warning {
  @include badge-style($badge-warning);

  &-outline {
    @include badge-outline($badge-warning);
  }
}

.c-badge-danger {
  @include badge-style($badge-danger);

  &-outline {
    @include badge-outline($badge-danger);
  }
}

@each $badge-size in $badge-sizes {
  $badge-size-namespace: nth($badge-size, 1);
  $badge-size-font: nth($badge-size, 2);

  .c-badge-#{$badge-size-namespace} {
    font-size: $badge-size-font;

    &:empty {
      padding: $badge-size-font - 6;
    }
  }
}

.c-badge-top {
  vertical-align: top;
}
