////
/// @group tooltips & popovers
////


// $popover-bg          
$popover-bg          : $white !default;

// $popover-max-width   
$popover-max-width   : 300px !default;

// $popover-padding     
$popover-padding     : 8px 14px !default;

// $popover-fs          
$popover-fs          : 14px !default;

// $popover-bd-width    
$popover-bd-width    : 1px !default;

// $popover-bd-c       
$popover-bd-c        : $global-border-color !default;

// $popover-bd-radius   
$popover-bd-radius   : 6px !default;

// $popover-shadow      
$popover-shadow      : 0 0 9px 0 rgba(0, 0, 0, .2) !default;

// $popover-zindex      
$popover-zindex      : 1 !default;

// $popover-arrow-width       
$popover-arrow-width       : 10px !default;

// $popover-arrow-inner-width 
$popover-arrow-inner-width : 9px !default;

// class name(eg. .c-popover-success), text-color, border-color
$popover-colors:
  ("success", $success, lighten($success, 11%))
  ("warning", $warning, lighten($warning, 11%))
  ("danger", $danger, lighten($danger, 11%)) !default;

@mixin popover-base {
  @include font-body;

  position: absolute;
  max-width: $popover-max-width;
  padding: $popover-padding;
  font-size: $popover-fs;
  text-align: left;
  background: $popover-bg;
  border: $popover-bd-width solid $popover-bd-c;
  border-radius: $popover-bd-radius;
  box-shadow: $popover-shadow;
  z-index: $popover-zindex;

  &-top {
    margin-top: -$popover-arrow-width;
  }

  &-left {
    margin-left: -$popover-arrow-width;
  }

  &-right {
    margin-left: $popover-arrow-width;
  }

  &-bottom {
    margin-top: $popover-arrow-width;
  }

  // align arrows relative to popover
  &-top > &-arrow,
  &-bottom > &-arrow {
    &,
    &::after {
      @include horizontal-center;
    }
  }

  &-left > &-arrow,
  &-right > &-arrow {
    &,
    &::after {
      @include vertical-center;
    }
  }

  // generate and align arrow triangles
  &-top > &-arrow {
    bottom: -$popover-arrow-width;

    @include css-triangle($popover-arrow-width, $popover-bd-c, down);

    &::after {
      bottom: $popover-arrow-width - $popover-arrow-inner-width;

      @include css-triangle($popover-arrow-inner-width, $popover-bg, down);
    }
  }

  &-right > &-arrow {
    left: -$popover-arrow-width;

    @include css-triangle($popover-arrow-width, $popover-bd-c, left);

    &::after {
      left: $popover-arrow-width - $popover-arrow-inner-width;

      @include css-triangle($popover-arrow-inner-width, $popover-bg, left);
    }
  }

  &-bottom > &-arrow {
    top: -$popover-arrow-width;

    @include css-triangle($popover-arrow-width, $popover-bd-c, up);

    &::after {
      top: $popover-arrow-width - $popover-arrow-inner-width;

      @include css-triangle($popover-arrow-inner-width, $popover-bg, up);
    }
  }

  &-left > &-arrow {
    right: -$popover-arrow-width;

    @include css-triangle($popover-arrow-width, $popover-bd-c, right);

    &::after {
      right: $popover-arrow-width - $popover-arrow-inner-width;

      @include css-triangle($popover-arrow-inner-width, $popover-bg, right);
    }
  }
}

@mixin popover-colors {
  @each $color in $popover-colors {
    &-#{nth($color, 1)} {
      color: nth($color, 2);
      font-weight: bold;
      border-color: nth($color, 3);
    }

    &-#{nth($color, 1)}#{&}-top > &-arrow,
    &-#{nth($color, 1)}#{&}-bottom > &-arrow {
      border-color: nth($color, 3) transparent;
    }

    &-#{nth($color, 1)}#{&}-left > &-arrow,
    &-#{nth($color, 1)}#{&}-right > &-arrow {
      border-color: transparent nth($color, 3);
    }
  }
}
