@mixin form-control {
  @include control;

  @each $name, $color in $ipreo-palette {
    &.c-input-#{$name} {
      background-color: $white;
      border-color: $color;
    }
  }
}

.c-input {
  @include form-control;

  max-width: 100%;
  width: 100%;

  @each $name, $color in $ipreo-palette {
    &.c-input-#{$name} + .fa {
      color: $color !important;
    }
  }

  &[type="search"] {
    border-radius: 290486px;
  }

  // Sizes
  &.c-input-small {
    @include control-small;
  }

  &.c-input-medium {
    @include control-medium;
  }

  &.c-input-large {
    @include control-large;
  }

  // Modifiers
  &.c-input-fullwidth {
    display: block;
    width: 100%;
  }
/* stylelint-disable */
  &.c-input-inline {
    display: inline;
    width: auto;
  }
}
/* stylelint-enable */
.c-textarea {
  @extend .c-input;

  display: block;
  max-height: 600px;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 10px;
  resize: vertical;
}

.c-select {
  display: inline-block;
  position: relative;
  vertical-align: top;

  select {
    @include form-control;

    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 36px;

    &::-ms-expand {
      display: none;
    }
  }

  &.c-select-fullwidth {
    width: 100%;

    select {
      width: 100%;
    }
  }

  &::after {
    @include arrow($primary);

    margin-top: -6px;
    right: 16px;
    top: 50%;
  }

  &:hover {
    &::after {
      border-color: $link-hover;
    }
  }

  &.c-select-small {
    height: 24px;
    padding: 0;

    select {
      @include control-small;

      padding-right: 28px;
    }
  }

  &.c-select-medium {
    height: 40px;

    select {
      @include control-medium;

      padding-right: 44px;
    }
  }

  &.c-select-large {
    height: 48px;
    padding: 0;

    select {
      @include control-large;

      padding-right: 52px;
    }
  }
}

.c-label {
  color: $body-font-color;
  display: block;
  font-weight: bold;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.c-help {
  display: block;
  font-size: $small-font-size;
  margin-top: 5px;

  @each $name, $pair in $ipreo-palette {
    $color: nth($pair, 1);

    &.c-help-#{$name} {
      background-color: white;
      color: $color;
    }
  }
}

// Containers
.c-control-label {
  text-align: left;

  @include mobile {
    margin-bottom: 5px;
  }

  @include tablet {
    flex: 1;
    margin-right: 20px;
    padding-top: 7px;
  }
}

.c-control {
  position: relative;

  &[disabled],
  &.c-is-disabled {
    border-color: $control-disabled-border;
    cursor: not-allowed;
    pointer-events: none;

    @include placeholder {
      color: rgba($control, .3);
    }

    .c-label {
      color: $disabled;
    }

    .c-input {
      border-color: $control-disabled-border;
      background-color: $control-disabled-background;
    }
  }

  &.c-is-active {
    .c-input {
      border: $control-active-border;
      box-shadow: 0 0 1px 2px rgba(0, 130, 222, 0.77);
    }
  }

  @include tablet {
    display: flex;

    & > .c-control {
      display: flex;
      flex: 5;
      flex-direction: column;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  // Modifiers
  &.c-control-has-addons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-radius: 3px;

    .button,
    .c-input,
    .c-select,
    .c-input-addon {
      border-radius: 0;
      margin-right: -1px;

      &:first-child {
        border-radius: $radius 0 0 $radius;

        select {
          border-radius: $radius 0 0 $radius;
        }
      }

      &:last-child {
        border-radius: 0 $radius $radius 0;

        select {
          border-radius: 0 $radius $radius 0;
        }
      }

      &.c-control-expanded {
        flex: 1;
      }
    }

    &.c-control-has-addons-centered {
      justify-content: center;
    }

    &.c-control-has-addons-right {
      justify-content: flex-end;
    }

    &.c-control-has-addons-fullwidth {
      .button,
      .c-input,
      .c-select {
        flex: 1;
      }
    }
  }

  &.c-control-has-icon {
    & > .fa {
      @include fa(14px, 24px);

      color: $input-icon-color;
      pointer-events: none;
      position: absolute;
      top: 3px;
      z-index: 4;
    }

    .c-input {
      & + .fa {
        /* color: $input-icon-color; */
      }

      &.c-input-small + .fa {
        font-size: 10.5px;
        top: 0;
      }

      &.c-input-medium + .fa {
        font-size: 21px;
        top: 8px;
      }

      &.c-input-large + .fa {
        font-size: 21px;
        top: 12px;
      }
    }

    &:not(.c-control-has-icon-right) {
      & > .fa {
        left: 4px;
      }

      .c-input {
        padding-left: 32px;

        & + .fa {
          color: $input-icon-color;
        }

        &.c-input-small {
          padding-left: 24px;

          & + .fa {
            left: 0;
          }
        }

        &.c-input-medium {
          padding-left: 40px;

          & + .fa {
            left: 8px;
          }
        }

        &.c-input-large {
          padding-left: 48px;

          & + .fa {
            left: 12px;
          }
        }
      }
    }

    &.c-control-has-icon-right {
      & > .fa {
        right: 4px;
      }

      .c-input {
        padding-right: 32px;
        color: $input-icon-color;

        &.c-input-small {
          padding-right: 24px;

          & + .fa {
            right: 0;
          }
        }

        &.c-input-medium {
          padding-right: 40px;

          & + .fa {
            right: 8px;
          }
        }

        &.c-input-large {
          padding-right: 48px;

          & + .fa {
            right: 12px;
          }
        }
      }
    }
  }

  &.c-control-grouped {
    display: flex;
    justify-content: flex-start;

    & > .c-control {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
      }

      &.c-control-expanded {
        flex: 1;
      }
    }

    &.c-control-centered {
      justify-content: center;
    }

    &.c-control-right {
      justify-content: flex-end;
    }
  }

  &.c-control-horizontal {
    @include tablet {
      display: flex;

      & > .c-control {
        display: flex;
        flex: 5;
      }
    }
  }
}

.c-btn-input {
  line-height: 1;
  padding: 8px 15px 5px;
  background-color: $default;
  display: flex;

  &:hover {
    color: $white;
    cursor: pointer;
  }

  &:first-child {
    border-right: 0;
    border-radius: $global-radius 0 0 $global-radius;
  }

  &:last-child {
    margin-#{$global-right}: 0;
    border-radius: 0 $global-radius $global-radius 0;
  }
}

.c-input-addon {
  border: 1px solid #bebebe;
  padding: 3px 10px 0;
  color: #414152;
  background-color: #e6e6e6;
  font-weight: bold;

  &:first-child {
    border-right: 0;
    border-radius: $global-radius 0 0 $global-radius;
  }

  &:last-child {
    margin-right: 0;
    border-radius: 0 $global-radius $global-radius 0;
  }
}

.c-field-validation-list {
  ul {
    list-style-type: none;
    margin-top: 0.75em;

    li {
      &.pristine {
        &::before {
          content: "\f06a";
          font-family: FontAwesome;
          color: $primary;
        }
      }

      &.valid {
        &::before {
          content: "\f058";
          font-family: FontAwesome;
          color: $success;
        }
      }

      &.invalid {
        &::before {
          content: "\f06a";
          font-family: FontAwesome;
          color: $danger;
        }
      }
    }
  }
}

/* input results */
.c-input-results,
.c-input-results-select {
  flex-direction: column;

  .c-control {
    margin-bottom: 0;
  }

  .fa {
    color: $input-icon-color;
  }

  .c-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.c-input-results-menu {
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(204, 204, 204);
  list-style: none;
  margin-left: 0;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid rgb(204, 204, 204);
    }

    padding: 0.5em;

    &:hover {
      cursor: pointer;
    }
  }
}
