.c-input-label {
  @include label;
}

.c-input {
  @include input;

  // input icons padding
  &-right-icon {
    padding-right: $control-icon-padding;
  }

  .c-input-icon + & {
    padding-left: $control-icon-padding;
  }
}

.c-input-icon {
  @include vertical-center;

  left: $control-padding-h;
  color: $control-icon-color;

  .c-input ~ & {
    left: auto;
    right: $control-padding-h;
  }
}

textarea.c-input {
  height: auto;
}


// VALIDATION COLORS
@each $name, $color, $bg in $control-colors {
  .c-input-#{$name} {
    &,
    &:hover {
      border-color: $color;

      @if $bg {
        background-color: $bg;
      }
    }

    &:focus {
      @if $bg {
        border-color: $color;
        background-color: $control-background;
      } @else {
        border-color: $control-active-border;
      }
    }

    & ~ .c-input-icon {
      color: $color;
    }
  }
}

@each $ng-state, $color in $control-ng-validation {
  .c-ng-validate.ng-dirty.#{$ng-state},
  .c-ng-validate-form .ng-dirty.#{$ng-state} {
    @extend .c-input-#{$color};
  }
}

@each $name, $size in $control-sizes {
  .c-input-#{$name},
  .c-input-label-#{$name} {
    font-size: $size;
    padding: map-get($control-sizes-padding, $name);
  }

  .c-input-#{$name} {
    height: map-get($control-sizes-height, $name);
  }

  .c-input-label-#{$name} {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-input-addon {
  display: flex;
  align-items: center; // verticaly align all child elements
  padding: 0 $control-padding-h;
  font-size: $control-font-size;
  border: 1px solid $control-border;
  background-color: $control-addon-background;

  &:first-child {
    border-radius: $global-radius 0 0 $global-radius;
  }

  &:last-child {
    margin-right: 0;
    border-left: 0;
    border-radius: 0 $global-radius $global-radius 0;
  }
}

.c-form-element {
  position: relative;
  padding: $control-element-padding;

  .c-label:first-child {
    padding: $control-element-label-padding;
  }
}
