@mixin label {
  display: block;
  width: 100%;
  padding: $control-label-padding;
  color: $control-color;
  font-size: $control-font-size;
  cursor: pointer;
}

@mixin input {
  display: block;
  width: 100%;
  padding: $control-padding-v $control-padding-h;
  border: $control-border-width solid $control-border;
  border-radius: $control-border-radius;
  outline: 0;
  color: $control-color;
  background-color: $control-background;
  font-family: inherit;
  font-size: $control-font-size;
  font-weight: $control-font-weight;
  line-height: $control-line-height;
  box-shadow: $control-shadow;
  resize: vertical;
  appearance: none;
  transition: $control-transition;

  &::placeholder {
    color: $control-placeholder-c;
    transition: $control-transition;
  }

  &:hover,
  &#{&}-hover {
    border-color: $control-hover-border;

    &::placeholder {
      color: $control-placeholder-hover-c;
    }
  }

  &:focus,
  &#{&}-focus {
    border-color: $control-active-border;
  }

  &[disabled],
  &-disabled {
    &,
    &:hover {
      @include input-disabled;
    }

    & ~ .c-input-icon {
      color: $control-disabled-border;
    }
  }

  &-inline {
    display: inline;
  }

  &-container {
    position: relative;
  }
}

@mixin input-disabled {
  border-color: $control-disabled-border;
  background-color: $control-disabled-background;
  cursor: not-allowed;

  &::placeholder {
    color: $control-placeholder-c;
  }
}
