/*
* ==========================================================================
* Tables
* ==========================================================================
*/
@import 'mixins';

table.ipreo-table {
  @include table();
}

table.ipreo-table-striped {
  @include table-striped();
}

table.ipreo-table-stack {
  @include breakpoint(md down) {
    @include table-stack;
  }
}

table.ipreo-table-scroll {
  @include table-scroll;
}

table.ipreo-table-hover {
  @include table-hover;
}

.ipreo-table-scroll {
  overflow-x: auto;

  table.ipreo {
    width: auto;
  }
}

.ipreo-table-transparent {
  .ipreo-tbody {
    .ipreo-tr,
    .ipreo-td {
      background-color: transparent;
    }
  }
}

// CSS Table

.ipreo-table {
  margin: 0 0 40px;
  border-radius: $table-border-radius;
  border: $table-border;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;

  .ipreo-table-row:nth-of-type(even) {
    background: $table-striped-background;

    &:hover {
      background: $table-row-hover;
    }
  }

  &-fullwidth {
    width: 100%;
  }
}

.ipreo-table-condensed {
  .ipreo-table-cell {
    padding: 0.5rem 0;
  }
}

.ipreo-table-scroll {
  @media screen and (max-width: 580px) {
    display: block;
    overflow-x: scroll;

    .ipreo-table-cell {
      display: table-cell;
    }

    .ipreo-table-row {
      display: table-row;
    }
  }
}

.ipreo-table-row {
  @include last-child() {
    border-radius: 0 0 0 $table-border-radius;

    @include breakpoint(sm down) {
      border-radius: 0 0 $table-border-radius $table-border-radius;
    }

    .ipreo-table-cell {
      @include first-child() {
        border-radius: 0 0 0 $table-border-radius;
      }

      @include last-child() {
        border-radius: 0 0 $table-border-radius 0;
      }
    }
  }

  display: table-row;
  background: $table-background;

  &:hover {
    background: $table-row-hover;
  }

  @include breakpoint(sm down) {
    padding: 8px 0;
    display: block;
  }
}

.ipreo-table-header {
  font-weight: bold;
  font-size: $table-header-font-size;
  color: $table-head-font-color;
  background: $table-head-background;

  &:hover {
    background: $table-head-background;
  }

  @each $name, $color in $table-colors {
    &-#{$name} {
      background-color: $color;
      color: white;

      &:hover {
        background: $color;
      }
    }
  }

  @include first-child() {
    border-radius: $table-border-radius;

    @include breakpoint(sm down) {
      border-radius: $table-border-radius $table-border-radius 0 0;
    }

    .ipreo-table-cell {
      @include first-child() {
        border-radius: $table-border-radius 0 0 0;
      }

      @include last-child() {
        border-radius: 0 $table-border-radius 0 0;
      }
    }
  }

  @include breakpoint(sm down) {
    padding: 8px 0;
    display: block;
    border-radius: $table-border-radius $table-border-radius 0 0;
  }
}

.ipreo-table-cell {
  padding: $table-cell-padding;
  display: table-cell;
  font-size: $table-cell-font-size;
  vertical-align: middle;
  border-right: 1px solid $table-border-color;
  border-bottom: 1px solid #f2f2f2;

  @include last-child() {
    border-right: none;
  }

  @include breakpoint(sm down) {
    padding: $table-cell-padding-sm;
    display: block;
    border-right: none;
    text-align: left;
  }
}

.ipreo-table-transparent {
  .ipreo-table-header {
    font-weight: bold;
    color: $table-head-font-color;
    background: $table-transparent-head-background;

    &:hover {
      background: $table-transparent-head-background;
    }
  }

  .ipreo-table-row:nth-of-type(even) {
    background: transparent;

    &:hover {
      background: $table-row-hover;
    }
  }
}