////
/// @group progress
////

/// $progress-height
$progress-height: 2rem !default;

/// $progress-background
$progress-background: $color-gray-1 !default;

/// $progress-margin-bottom
$progress-margin-bottom: 1rem !default;

/// $progress-radius
$progress-radius: $global-radius !default;

/// $progress-primary
$progress-primary: $primary;
/// $progress-success
$progress-success: $success;
/// $progress-default
$progress-default: $default;

// $progress-colors
$progress-colors:
  ("primary", $progress-primary)
  ("success", $progress-success)
  ("default", $progress-default) !default;

@mixin loader-stripe($color) {
  background: linear-gradient(135deg, $color 25%, darken($color, 10%) 25%, darken($color, 10%) 50%, $color 50%, $color 75%, darken($color, 10%) 75%);
  height: $progress-height;
  background-size: $progress-height+1 $progress-height+1;
  animation: stripes 3s linear infinite;
  border-radius: inherit;
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@mixin progress-container {
  background-color: $progress-background;
  height: $progress-height;
  margin-bottom: $progress-margin-bottom;
  border-radius: $progress-radius;
}

/// Adds styles for the inner meter of a progress bar.
@mixin progress-meter {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  border-radius: $progress-radius;
}

/// Adds styles for text in the progress meter.
@mixin progress-meter-text {
  @include absolute-center;

  position: absolute;
  margin: 0;
  font-size: .75rem;
  font-weight: bold;
  color: $white;
  white-space: nowrap;
  border-radius: $progress-radius;
}

@mixin full-progress(
  $height: $progress-height,
  $bg: $progress-background,
  $color: $white,
  $radius: $progress-radius
) {
  background-color: $bg;
  height: $height;
  border-radius: $radius;
  margin-bottom: $progress-margin-bottom;

  .c-progress-meter {
    position: relative;
    display: block;
    width: 0%;
    height: 100%;
    height: $height;
    border-radius: $radius;

    @include linear-gradient(to bottom, lighten($color, 6%), $color 66%, darken($color, 4%));

    &-animated {
      background: linear-gradient(135deg, $color 25%, darken($color, 10%) 25%, darken($color, 10%) 50%, $color 50%, $color 75%, darken($color, 10%) 75%);
      height: $height;
      background-size: $height $height;
      animation: stripes 3s linear infinite;
      border-radius: inherit;
    }
  }

  .c-progress-meter-text {
    @include absolute-center;

    margin: 0;
    font-size: .75rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }
}

