////
/// @group progress
////

/// $progress-height
$progress-height: 2rem !default;

/// $progress-height-sm
$progress-height-sm: .75rem !default;

/// $progress-height-lg
$progress-height-lg: 3rem !default;

// $progress-font-size
$progress-font-size: .75rem !default;

// $progress-font-size-sm
$progress-font-size-sm: .5rem !default;

// $progress-font-size-lg
$progress-font-size-lg: 1rem !default;

/// $progress-background
$progress-background: $color-gray-1 !default;

/// $progress-margin-bottom
$progress-margin-bottom: 1rem !default;

/// $progress-radius
$progress-radius: $global-radius !default;

/// $progress-primary
$progress-primary: $primary;

/// $progress-success
$progress-success: $success;

// $progress-colors
$progress-colors:
  ("primary", $progress-primary)
  ("success", $progress-success) !default;

@mixin loader-stripe($color) {
  background: linear-gradient(135deg, $color 25%, darken($color, 10%) 25%, darken($color, 10%) 50%, $color 50%, $color 75%, darken($color, 10%) 75%);
  height: $progress-height;
  background-size: $progress-height+1 $progress-height+1;
  animation: stripes 3s linear infinite;
  border-radius: inherit;
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@mixin progress-container {
  background-color: $progress-background;
  height: $progress-height;
  margin-bottom: $progress-margin-bottom;
  border-radius: $progress-radius;
}

/// Adds styles for the inner meter of a progress bar.
@mixin progress-meter {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  border-radius: $progress-radius;
}

/// Adds styles for text in the progress meter.
@mixin progress-meter-text {
  @include absolute-center;

  position: absolute;
  margin: 0;
  font-size: $progress-font-size;
  font-weight: bold;
  color: $white;
  white-space: nowrap;
  border-radius: $progress-radius;
}

@mixin progress-size(
  $height: $progress-height
) {
  height: $height;

  .c-progress-meter {
    height: $height;

    &-animated {
      height: $height;
      background-size: $height $height;
    }
  }
}

