/* stylelint-disable */
//  Base Pcs Settings
//  -----------------------------
//
@import '../scss/utility/utility';

// 1. Global
// ---------

$primary          : #0079bd;
$default          : #eeeeee ;
$secondary        : #777777 ;
$success          : #3ebd4c ;
$warning          : #f68f1e ;
$danger           : #d75248 ;
$disabled         : #ededed ;
$light-gray       : #e6e6e6 ;
$medium-gray      : #cacaca ;
$dark-gray        : #8d8d97 ;
$darkest-gray     : #414152 ;
$black            : #0a0a0a ;
$white            : #fefefe ;
$body-background  : $white    ;
$body-font-color  : #333333 ;


$global-width                 : 100% ;
$global-lineheight            : 1.5 ;
$generate-chart-colors        : true ;
$generate-ticker-colors       : true ;

$body-font-family             : Arial, sans-serif ;
$body-font-color              : $body-font-color ;
$body-font-size               : rem-calc(16) ;
$body-font-size-lg            : rem-calc(18) ;
$body-lineheight              : 1.5 ;
$body-margin-bottom           : 1rem ;
$body-antialiased             : true ;
$body-text-rendering          : optimizeLegibility ;

$global-margin                : 1rem ;
$global-padding               : 1rem ;
$global-weight-normal         : normal ;
$global-weight-bold           : bold ;
$global-radius                : 3px ;
$global-text-direction        : ltr ;
$global-flexbox               : true ;
$print-transparent-backgrounds: true ;

$global-sidebar-max-width: 260px ;
$global-sidebar-background-color: #f5f5f5 ;


/// 2. Breakpoints
/// --------------
$breakpoints: (
    xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px);


/// 4. Base Typography
/// ------------------
$header-font-family   : $body-font-family ;
$header-font-weight   : $global-weight-bold ;
$header-font-style    : normal ;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;

$header-sizes: (
  sm: (
    'xl': 24,
    'lg': 20,
    'md': 19,
    'sm': 18,
    'xs': 17,
    'xxs': 16,
    ),
  md: (
    'xl': 48,
    'lg': 36,
    'md': 28,
    'sm': 18,
    'xs': 16,
    'xxs': 14,
    ),
);

$header-weight: ();

$header-color                   : inherit ;
$header-lineheight              : 1.4 ;
$header-margin-bottom           : 0.5rem ;
$header-text-rendering          : optimizeLegibility ;
$small-font-size                : 80% ;
$header-small-font-color        : $dark-gray ;

$anchor-color                   : $primary ;
$anchor-color-hover             : lighten($primary, 14%) ;
$anchor-color-active            : $primary ;
$anchor-color-disabled          : $secondary ;
$anchor-text-decoration         : none ;
$anchor-text-decoration-hover   : none ;
$anchor-text-decoration-active  : none ;
$anchor-text-decoration-disabled: none ;
$hr-width                       : $global-width ;
$hr-border                      : 1px solid #f2f2f2 ;
$hr-margin                      : rem-calc(20) auto ;
$list-font-size                 : .9rem ;
$list-lineheight                : $body-lineheight ;
$list-margin-bottom             : $body-margin-bottom ;
$list-style-type                : disc ;
$list-style-position            : outside ;
$list-font-size                 : .9rem ;
$list-ul-side-margin            : .6rem ;
$list-nested-side-margin        : 1.25rem ;
$list-color                     : $dark-gray ;
$list-padding                   : 1.5rem ;
$list-ul-padding                : 1.9rem ;
$list-side-margin               : 1.25rem ;
$defnlist-margin-bottom         : 1rem ;
$defnlist-term-weight           : $global-weight-bold ;
$defnlist-term-margin-bottom    : 0.3rem ;
$blockquote-color               : $darkest-gray ;
$blockquote-padding             : rem-calc(9 20 0 19) ;
$blockquote-border              : 3px solid $primary ;
$blockquote-font-size           : rem-calc(28) ;
$cite-font-size                 : rem-calc(18) ;
$cite-color                     : $darkest-gray ;

//==========================================================================
///  Badges GLOBAL Configs
//==========================================================================
$badge-padding: .25em .5em ;
$badge-border-width: 1px;
$badge-border-style: solid;
$badge-border-radius: 3px ;
$badge-border-radius-rounded: 30em ;
$badge-font-size: 1rem;
$badge-font-weight: bold;
$badge-line-height: 1.2;

$badge-sizes:
("xs", .5rem)
("sm", .7rem)
("lg", 1.25rem)
("xl", 1.5rem)
;

$badge-colors: 
("primary", $primary, $primary)
("success", $success, $success)
("danger", $danger, $danger) 
("warning", $warning, $warning) 
;

/// . Breadcrumbs
/// ---------------
$breadcrumbs-margin             : 0 0 $global-margin 0 ;
$breadcrumbs-item-font-size     : rem-calc(11) ;
$breadcrumbs-item-color         : $primary ;
$breadcrumbs-item-color-current : $black ;
$breadcrumbs-item-color-disabled: $medium-gray ;
$breadcrumbs-item-margin        : 0.75rem ;
$breadcrumbs-item-uppercase     : true ;
$breadcrumbs-item-slash         : true ;

//==========================================================================
///  Button GLOBAL Configs
//==========================================================================
$btn-font-family      : $body-font-family ;
$btn-font-size        : rem-calc(14) ;
$btn-line-height      : 1 ;
$btn-default-padding-v: .5em ;
$btn-default-padding-h: 1.25em ;
$btn-font-weight      : bold ;
$btn-border-width     : 1px ;
$btn-radius           : 4px ;
$btn-shadow           : inset 0 1px rgba(white, .1), inset 0 0 0 1px rgba(white, .08), 0 1px 1px rgba(black, 0.05) ;
$btn-shadow-active    : inset 0 0 4px rgba(black, .54) ;
$btn-shadow-outline   : inset 1px 1px 7px 0 rgba(160, 160, 168, 0.48) ;

/// Button shadows add box-shadow to buttons
$btn-shadows: true ;

/// Button gradients (true = gradients - false = solid)
$btn-gradients: false ;

/// Button outlines - if true outline btns will be generated (eg. .c-btn-primary-outline)
$btn-outlines: true ;

/// Button disabled state
$btn-disabled-c           : #ccc ;
$btn-disabled-bg          : #eee ;
$btn-disabled-bd          : 1px solid #ddd ;
$btn-disabled-text-shadow : 0 1px 1px rgba(255, 255, 255, 1) ;
$btn-disabled-opacity     : .8 ;

/// BUTTON SIZES
/// This map is used to generate the different button sizes.
/// Edit or add sizes to the list below and recompile.
/// Each block contains the arguments (name, font-size).
/// The class is generated using the name: (ex .c-btn-sm).
$btn-sizes:
("sm", rem-calc(10))
("lg", rem-calc(18))
;

/// BUTTON COLORS
/// This map is used to generate the different button colors.
/// Edit or add colors to the list below and recompile.
/// Each block contains the (name, background, color)
/// The class is generated using the name: (ex .c-btn-primary)
$btn-colors:
("primary", $primary, $white)
("success", $success, $white)
("default", $default, $secondary)
("warning", $warning, $white)
("danger", $danger, $white)
;

/// Button colors without a border
/// Some button colors may be without a border
/// Add a color you want to be borderless, ex: ("primary")
$btn-no-border:
()
;

/// Button sizes with custom padding
/// For adjusting padding sizes
/// Add a btn size and padding, ex: (lg: ".5em 1.25em")
$btn-size-padding: (
) ;

/// Outline Button Colors
/// The class is generated using the name: (ex .c-btn-primary-outline)
$outline-btn-colors:
("primary", $primary, $white)
("success", $success, $white)
("default", $secondary, $white)
("warning", $warning, $white)
("danger", $danger, $white)
;

/// BUTTON SHAPES
/// This map is used to generate the different button shapes.
/// Edit or add shapes to the list below and recompile.
/// Each block contains the (name, border-radius).
/// The class is generated using the name: (ex .c-btn-square).
//
$btn-shapes: (
  square: 0,
  box: $global-radius,
  rounded: $global-radius,
  pill: 200px,
  circle: 100%
) ;

//==========================================================================
///  Alerts GLOBAL Configs
//==========================================================================
$alert-background    : $white ;
$alert-background-mix: 4% ;
$alert-border        : 1px solid rgba($black, 0.25) ;
$alert-margin        : 0 0 1rem 0 ;
$alert-padding       : 0.5rem ;
$alert-font-size     : rem-calc(14);
$alert-font-color    : $secondary ;
$alert-font-color-alt: $body-background ;
$alert-radius        : $global-radius ;
$alert-shadows       : true ;
$alert-style         : 'outline' ;
$alert-icon-width    : rem-calc(40) ;
$alert-colors        : 
("primary", $primary)
("success", $success)
("warning", $warning)
("danger", $danger)
;

/// ==========================================================================
///  Notifications GLOBAL Configs
/// ==========================================================================
$notify-z-index       : 99999;
$notify-min-width     : rem-calc(390);
$notify-width         : 25vw;
$notify-screen-spacing: rem-calc(16);
$notify-transition    : all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

/// Dropdowns
/// ------------
$dropdown-glued           : true ;
$dropdown-list-margin     : 0 ;
$dropdown-list-padding    : 0 ;
$dropdown-padding         : 1rem ;
$dropdown-border          : 1px solid $light-gray ;
$dropdown-color           : $dark-gray ;
$dropdown-color-hover     : $primary ;
$dropdown-background-color: $white ;
$dropdown-background-hover: darken($default, 2%) ;
$dropdown-box-shadow      : 0 2px 7px rgba(0, 0, 0, 0.2) ;
$dropdown-font-size       : rem-calc(12) ;
$dropdown-font-weight     : bold ;
$dropdown-width           : 100% ;
$dropdown-radius          : $global-radius ;
$dropdown-divider-margin  : 0 ;


/// ==========================================================================
///  Cards GLOBAL Configs
/// ==========================================================================
$card-header-font-size    : rem-calc(14);
$card-header-icon-color:       $secondary;
$card-header-icon-hover-color: lighten($secondary, 10%);
$card-header-font-weight  : bold;
$card-body-font-size      : rem-calc(12);
$card-title-font-size     : rem-calc(18);
$card-subtitle-font-size  : rem-calc(16);
$card-text-color          : #4a4a4a;
$card-header-text-color   : #a0a0a0;
$card-border-color        : $light-gray ;
$card-border-radius       : $global-radius ;
$card-bg                  : $white ;
$card-padding             : 0.9375rem ;
$card-shadow              : 1px 2px 5px $light-gray ;
$card-shadow-hover        : $card-shadow ;
$card-header-border-bottom: 1px solid rgba(177, 177, 177, 0.15);
$card-colors: 
("primary", $primary, $primary)
("success", $success, $success)
("danger", $danger, $danger) 
("warning", $warning, $warning) 
;


//==========================================================================
///  Switch GLOBAL Configs
//==========================================================================
$switch-style            : "default";
$default-switch-height   : rem-calc(30);
$default-switch-font-size: rem-calc(10);
$large-switch-font-size  : rem-calc(15);
$switch-label-off        : $medium-gray;
$switch-label-on         : $white;
$switch-handle           : $white;

$switch-sizes: (
  xs: rem-calc(30),
  sm: rem-calc(40),
  lg: rem-calc(80)
);

$switch-colors: ("primary", $primary)
("success", $success)
("default", $secondary)
("warning", $warning)
("danger", $danger)
;

//NOTE: Material height must remain px value
$material-switch-height: 15px ;

//==========================================================================
///  Tabs GLOBAL Configs
//==========================================================================
$tabs-borders: 1px solid #cecece;
$tabs-border-radius: $global-radius;
$tabs-color: $body-font-color;
$tabs-color-hover: $primary;
$tabs-color-active: $primary;
$tabs-text-default-padding: rem-calc(6 12);
$tabs-bg: #eaeaea;
$tabs-bg-hover: lighten($tabs-bg, 5%);
$tabs-bg-active: lighten($tabs-bg, 5%);
$tabs-bordered-space-between: 3px;
$tabs-font-size-default: rem-calc(14);
$tabs-hover-tranisition: all 0.4s ease 0s;
$tab-sizes:
("xs", rem-calc(10))
("sm", rem-calc(12))
("lg", rem-calc(20));

//==========================================================================
///  Table GLOBAL Configs
//==========================================================================
$table-background        : $white;
$table-border-color      : $medium-gray;
$table-border-radius     : 0 ;
$table-border            : 1px solid $table-border-color;
$table-head-border-bottom: 0 ;
$table-padding           : rem-calc(8 10 10);
$table-cell-padding      : rem-calc(12 12);
$table-cell-padding-sm   : rem-calc(2 12);
$table-row-hover         : #fff2cf;
$table-row-stripe-hover  : $table-row-hover;
$table-striped-background: darken($white, 3%);
$table-stripe            : odd;
$table-head-background   : $light-gray;
$table-transparent-head-background   : $light-gray;
$table-foot-background   : $medium-gray;
$table-head-font-color   : $body-font-color;
$table-foot-font-color   : $body-font-color;
$table-header-font-size  : rem-calc(12);
$table-cell-font-size    : rem-calc(12);
$table-shadow            : 0 1px 3px rgba(0, 0, 0, 0.2);
$show-header-for-stacked : false;

$table-colors: ("primary", $primary)
("success", $success)
("default", $secondary)
("warning", $warning)
("danger", $danger)
;

/// ==========================================================================
///  Horizontal Nav GLOBAL Configs
/// ==========================================================================
$fontAwesome        : "FontAwesome";
$nav-logo-width     : 100px;
$nav-logo-height    : 100%;
$nav-base-text-color: $white;
$nav-link-text-color: $nav-base-text-color;
$main-nav-color     : $primary;
$level-2-nav-color  : darken($main-nav-color, 10%);
$nav-base-font-size : 12px;

/// ==========================================================================
///  Vertical Nav GLOBAL Configs
/// ==========================================================================
$vertical-nav-width              : 120px;
$vertical-nav-padding            : 1.3em;
$vertical-nav-button-size        : 6.25em;
$vertical-nav-background         : #000000;
$vertical-nav-link-color         : #e5e5e5;
$vertical-nav-separator-color    : #333333;
$vertical-nav-hover-color        : #3f3f3f;
$vertical-nav-active-color       : #c5c5c5;
$vertical-nav-disabled-color     : #666666;
$vertical-nav-active-shadow-color: #1b1b1b;


//==========================================================================
///  Progress GLOBAL Configs
//==========================================================================
$progress-height: 1rem ;
$progress-background: #cccccc ;
$progress-margin-bottom: 1rem ;
$progress-radius: 100px ;
$progress-colors: 
  ("primary", $primary)
  ("success", $success)
  ("default", $default) ;

//==========================================================================
///  Pagination GLOBAL Configs
//==========================================================================
$pagination-margin-bottom        : $global-margin ;
$pagination-gradients            : true ;
$pagination-item-spacing         : rem-calc(4) ;
$pagination-font-size            : rem-calc(12) ;
$pagination-font-size-sm         : rem-calc(12) ;
$pagination-font-size-lg         : rem-calc(14) ;
$pagination-item-padding         : rem-calc(3 10) ;
$pagination-item-padding-sm      : rem-calc(1 5) ;
$pagination-item-padding-lg      : rem-calc(5) ;
$pagination-item-current-padding : rem-calc(3 10) ;
$pagination-item-border-radius   : 3px ;
$pagination-item-color           : #0a0a0a ;
$pagination-item-bg              : #eeeeee ;
$pagination-item-current-bg      : $primary ;
$pagination-item-current-color   : $white ;
$pagination-item-color-disabled  : #d8d8d8 ;
$pagination-item-color-sm        : #0a0a0a ;
$pagination-item-color-hover-sm  : #0082de ;
$pagination-item-current-color-sm: #0082de ;

//==========================================================================
///  Footer GLOBAL Configs
//==========================================================================
$ipreo-footer-font-size       : rem-calc(12);
$ipreo-footer-color           : $white;
$ipreo-footer-background-color: $primary;
$ipreo-footer-padding         : rem-calc(12 24);
$ipreo-footer-trans-font-size : rem-calc(14);
$ipreo-footer-trans-color     : $black;


//==========================================================================
///  Forms GLOBAL Configs
//==========================================================================
$control-font-size              : 16px ;
$control-font-weight            : normal ;
$control-line-height            : normal ;
$control-placeholder-c          : $dark-gray ;
$control-placeholder-hover-c    : $control-placeholder-c ;
$control-background             : $white ;
$control-padding                : .5em ;
$control-border                 : #e0e0e0 ;
$control-border-width           : 1px ;
$control-border-radius          : $global-radius ;
$control-border-radius-rounded  : 30em ;
$control-transition             : border-color 0.1s ease-in ;

$control-hover                  : $primary ;
$control-hover-border           : $primary ;

$control-active                 : $primary ;
//$control-active-background      : $primary ;
$control-active-border          : #0079bd ;

$control-disabled-border        : $light-gray ;
$control-disabled-background    : $disabled ;

$control-hint-color             : $header-small-font-color ;
$control-hint-font-size         : $small-font-size ;
$control-hint-transition        : all .2s ease ;

$control-label-padding          : $control-padding 0 ;

$control-addon-background       : #eeeeee ;

$control-element-padding        : 1em 0 ;
$control-element-label-padding  : 0 0 $control-padding 0 ;

$control-select-padding-r       : 1em ;
$control-select-background-img  : url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") ;
$control-select-background-pos  : 99% 50% ;

$fieldset-padding               : 0 ;
$fieldset-margin                : $control-padding 0 ;
$fieldset-width                 : 100% ;
$fieldset-border                : 0 ;
$fieldset-legend-padding        : .3em 0 ;

/// FORM SIZES
/// This map is used to generate form input sizes. 
/// Arguments (name, font-size). Sizes tied to font-size.
/// The class is generated using the name: (ex .c-input-sm).
$control-sizes:
("xs", .67em)
("sm", .83em)
("lg", 1.17em)
("xl", 1.5em)
("xxl", 2em)
;

/// Input sizes with custom padding
/// For adjusting padding sizes
/// Add a input size and padding, ex: (lg: ".5em 1.25em")
$control-sizes-padding:
()
;

/// FORM COLORS
/// This map is used to generate form validation colors.
/// Arguments (name, color, background).
/// The class is generated using the name: (ex .c-input-success).
$control-colors:
("success", $success, false)
("warning", $warning, false)
("error", $danger, false)
;

/// Connect ng-validation states with form validation colors ($control-colors)
$control-ng-validation:
("ng-valid", "success")
("ng-invalid", "error")
;


//==========================================================================
///  Modals GLOBAL Configs
//==========================================================================
$modals-z-index            : 1050 ;
$modals-dialog-top-magin   : rem-calc(30);
$modals-padding            : rem-calc(15) ;
$modals-width              : rem-calc(600) ;
$modals-border             : 1px solid rgba(0, 0, 0, 0.2) ;
$modals-border-radius      : 0.3rem ;
$modals-header-border      : 1px solid #e5e5e5 ;
$modal-transition          : opacity 0.35s linear 0s ;

//==========================================================================
///  UI Configs
//==========================================================================

/// UI Avatar
/// ------------------
$avatar-size          : rem-calc(40) ;
$avatar-fs            : rem-calc(12) ;
$avatar-icon-margin   : 1px ;
$avatar-icon-size     : rem-calc(10) ;
$avatar-bd-size       : 2px ;

$avatar-colors: 
("primary", $primary)
("success", $success)
("danger", $danger) 
("warning", $warning) 
;


/// UI Checks/Radios
/// ------------------
/// UI Checkbox
/// ------------------
$checkbox-size            : 18px ;
$checkbox-size-sm         : 12px ;
$checkbox-size-lg         : 26px ;
$checkbox-icon-bd         : 1px solid #9e9e9e ;
$checkbox-icon-radius     : 2px ;
$checkbox-transition      : all 0.2s ;
$checkbox-disabled-opacity: 0.5 ;


/// UI File upload
/// ------------------
$file-upload-padding    : .5rem 1rem ;
$file-upload-margin     : .5rem ;
$file-upload-bg-color   : #f5fafd ;
$file-upload-bd         : 2px dashed #c8def0 ;
$file-upload-bd-radius  : 6px ;
$file-upload-fs         : .8rem ;
$file-upload-fa-fs      : 1.25rem ;


/// UI Lists
/// ------------------
$ui-list-radius               : true ;
$ui-list-shadows              : false ;
$ui-list-box-shadow           : inset 0 1px rgba(white, .1), inset 0 0 0 1px rgba(white, .08), 0 0 7px rgba(black, .15) ;
$ui-list-noborder-spacing     : rem-calc(10) ;
$ui-list-item-padding         : 12px 16px ;
$ui-list-item-noborder-spacing: rem-calc(8) ;
$ui-list-img-size             : $avatar-size;
$ui-list-left-margin-t        : 3px ;
$ui-list-left-body-spacing    : rem-calc(56) ;
$ui-list-fs                   : rem-calc(16) ;
$ui-list-margin               : 0 ;
$ui-list-inset-after-offset   : rem-calc(72) ;
$ui-list-a-list-item-bd       : 1px solid rgba(199, 199, 199, 0.19) ;
$ui-list-a-list-item-bg-c     : rgba(130, 130, 130, 0.08) ;


@import "../scss/default";
