//justify is horizontal this mixin gives us .ipreo-justify-{value}
$-ipreo-flex-justify: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'space-between': space-between,
  'space-around': space-around,
);

//align is vertical cols this mixin gives us .ipreo-align-{value}
$-ipreo-flex-align: (
  'top': flex-start,
  'bottom': flex-end,
  'center': center,
  'stretch': stretch,
);

/// Enables flexbox by adding `display: flex` to the element.
@mixin flex {
  display: flex;
}

/// Horizontally or vertically aligns the items within a flex container.
///
/// Horizontal alignment to use. Can be `left`, `right`, `center`, `justify`, or `spaced`. Or, set it to `null` (the default) to not set horizontal alignment.
/// Vertical alignment to use. Can be `top`, `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not set vertical alignment.
@mixin flex-align($x: null, $y: null) {
  @if $x {
    @if map-has-key($-ipreo-flex-justify, $x) {
      $x: map-get($-ipreo-flex-justify, $x);
    }

    @else {
      @warn "flex-grid-row-align(): #{$x} is not a valid value for horizontal alignment. Use left, right, center, justify, or spaced.";
    }
  }

  @if $y {
    @if map-has-key($-ipreo-flex-align, $y) {
      $y: map-get($-ipreo-flex-align, $y);
    }

    @else {
      @warn "flex-grid-row-align(): #{$y} is not a valid value for vertical alignment. Use top, bottom, middle, or stretch.";
    }
  }

  justify-content: $x;
  align-items: $y;
}

/// Vertically align a single column within a flex row. Apply this mixin to a flex column.
/// Vertical alignment to use. Can be `top`, `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not set vertical alignment.
@mixin flex-align-self($y: null) {
  @if $y {
    @if map-has-key($-ipreo-flex-align, $y) {
      $y: map-get($-ipreo-flex-align, $y);
    }

    @else {
      @warn "flex-grid-column-align(): #{$y} is not a valid value for alignment. Use top, bottom, middle, or stretch.";
    }
  }

  align-self: $y;
}

/* stylelint-disable */
  @each $hdir, $prop in map-remove($-ipreo-flex-justify, left) {
    .ipreo-justify-#{$hdir} {
      @include flex-align($x: $hdir);
    }
  }

  // Vertical alignment using align-items and align-self
  @each $vdir, $prop in $-ipreo-flex-align {
    .ipreo-align-#{$vdir} {
      @include flex-align($y: $vdir);
    }

    .ipreo-align-self-#{$vdir} {
      @include flex-align-self($y: $vdir);
    }
  }


