////
/// @group typography
////

/// $paragraph-margin
$paragraph-margin               : 0 !default;

/// $text-strong
$text-strong                    : 700 !default;

/// $text-small
$text-small                    : 80% !default;

/// $anchor-color
$anchor-color                   : $primary !default;

/// $anchor-color-hover
$anchor-color-hover             : $color-primary-3 !default;

/// $anchor-decoration-hover
$anchor-decoration-hover        : none !default;

/// $anchor-color-active
$anchor-color-active            : $color-primary-7 !default;

/// $anchor-color-disabled
$anchor-color-disabled          : $disabled !default;

// /// $hr-width                       
$hr-width                       : 100% !default;

// /// $hr-border                      
$hr-border                      : 1px solid $color-gray-1 !default;

// /// $hr-margin                      
$hr-margin                      : 20px auto !default;


@mixin header-styles($font-size: null, $color: $header-color, $font-weight: $font-header-md-line-height) {
  font-family: $font-body-font-family;
  font-weight: $font-weight;
  color: $color;
  margin-top: 0;
  line-height: $font-header-md-line-height;
  font-size: $font-size;
}

@mixin text-pull-class-export {
  @each $float in (left, right) {
    .c-pull-#{$float} {
      float: $float;
    }
  }
}

@mixin text-align($direction,$breakpoint) {
  .c-text-#{$direction}-#{$breakpoint} {
    text-align: $direction;
  }
}

@mixin text-align-class-export {
  .c-text-left {
    text-align: left;
  }

  .c-text-right {
    text-align: right;
  }

  .c-text-center {
    text-align: center;
  }

  @for $i from 1 through length($breakpoints) {
    $breakpoint: nth(map-keys($breakpoints), $i);
    $min-width: nth(map-values($breakpoints), $i);
    $next-index: $i + 1;

    @if $next-index <= length($breakpoints) {
      $max-width: nth(map-values($breakpoints), $next-index) - 1px;

      @media (min-width: $min-width) and (max-width: $max-width) {
        @include text-align(left, $breakpoint);
        @include text-align(right, $breakpoint);
        @include text-align(center, $breakpoint);
      }
    }

    @else {
      @media (min-width: $min-width) {
        @include text-align(left, $breakpoint);
        @include text-align(right, $breakpoint);
        @include text-align(center, $breakpoint);
      }
    }
  }
}
