@import "mixins";

.c-p {
  @include font-body;

  margin: $paragraph-margin;
  padding: 0;
}

.c-body-text,
.c-text {
  @include font-body;

  margin: $paragraph-margin;

  &-xl {
    @include font-body-xl;

    margin: $paragraph-margin;
  }

  &-lg {
    @include font-body-lg;

    margin: $paragraph-margin;
  }

  &-md {
    @include font-body-md;

    margin: $paragraph-margin;
  }

  &-sm {
    @include font-body-sm;

    margin: $paragraph-margin;
  }

  &-xs {
    @include font-body-xs;

    margin: $paragraph-margin;
  }
}

.c-header {
  &-xxl {
    @include font-header-xxl;
  }

  &-xl {
    @include font-header-xl;
  }

  &-lg {
    @include font-header-lg;
  }

  &-md {
    @include font-header-md;
  }

  &-sm {
    @include font-header-sm;
  }

  &-xs {
    @include font-header-xs;
  }
}

// Emphasized text
.c-text-em,
.c-text-italic {
  font-style: italic;
  line-height: inherit;
}

// Strong text
.c-text-strong,
.c-text-bold {
  font-weight: $text-strong;
  line-height: inherit;
}

.c-a,
.c-link {
  color: $anchor-color;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;

  &-hover,
  &:hover {
    text-decoration: $anchor-decoration-hover;
    color: $anchor-color-hover;
  }

  &-active,
  &:active {
    color: $anchor-color-active;
    text-decoration: none;
  }

  &-disabled,
  &[disabled],
  &:disabled {
    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $anchor-color-disabled;
      text-decoration: none;
      cursor: not-allowed;
    }
  }

  img {
    border: 0;
  }
}

// Horizontal rule
.c-hr {
  max-width: $hr-width;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: $hr-border;
  border-left: 0;
  margin: $hr-margin;
  clear: both;
}


// Emphasized text
.c-text-em,
.c-text-italic {
  font-style: italic;
  line-height: inherit;
}

// Small text
.c-text-small {
  font-size: 80%;
  line-height: inherit;
}

// Clearfix
.c-clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


//simple mixin example
.c-header-primary {
  @include header-styles(45px, blue, 900);
}

.c-subheader-secondary {
  @include header-styles(35px, green, bold);
}
