/*
* ==========================================================================
* Switches
* ==========================================================================
*/
@import 'mixins';

.c-switch {
  @include switch;

  &-handle {
    @include switch-handle;
  }

  .c-switch-input:checked ~ .c-switch-handle {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .3);
    left: $default-switch-height + .05rem;
  }
}

.c-switch-square {
  @include switch(square);

  .c-switch-handle {
    @include switch-handle(square);
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: 2.25rem;
  }
}

.c-switch-square.c-switch-lg {
  .c-switch-handle {
    width: 2rem;
    height: 1.95rem;
    left: .35rem;
    }
    }

.c-switch-material {
  @include switch(material);

  .c-switch-handle {
    @include switch-handle(material);
  }

  .c-switch-input:checked ~ .c-switch-handle {
    left: $material-switch-height + 2;
  }
}

.c-switch-disabled {
  pointer-events: none;
  background: $disabled;

  &.c-switch-input:checked,
  .c-switch-label,
  .c-switch-handle {
    background: $disabled;
    pointer-events: none;
  }
}

@each $name, $size in $switch-sizes {
  .c-switch-#{$name} {
    width: $size;
    height: $size / 2;

    .c-switch-handle {
      @include vertical-center;

      left: .15rem;
      width: $size / 2 - .2rem;
      height: $size / 2 - .25rem;
    }

    .c-switch-input:checked ~ .c-switch-handle {
      left: $size / 2 + .1rem;
    }

    .c-switch-label {
      font-size: $size / 6;
    }
  }
}







