// INPUT GROUP
.ipreo-input-group {
  display: flex;

  .ipreo-btn,
  .ipreo-input-addon,
  .ipreo-input-container {
    &:not(:first-child) {
      margin-left: -$control-border-width;
    }
  }

  .ipreo-input-container {
    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
  }

  .ipreo-btn {
    border-radius: 0;
    z-index: 2;

    &:first-child {
      border-top-left-radius: $control-border-radius;
      border-bottom-left-radius: $control-border-radius;
    }

    &:last-child {
      border-top-right-radius: $control-border-radius;
      border-bottom-right-radius: $control-border-radius;
    }
  }

  .ipreo-input-container {
    flex: 1;

    &-fixed {
      flex: 0 1 auto;
    }

    .ipreo-input {
      height: 100%;
      border-radius: 0;
    }

    &:first-child .ipreo-input {
      border-top-left-radius: $control-border-radius;
      border-bottom-left-radius: $control-border-radius;
    }

    &:last-child .ipreo-input {
      border-top-right-radius: $control-border-radius;
      border-bottom-right-radius: $control-border-radius;
    }
  }
}

.ipreo-input-group-rounded {
  .ipreo-btn {
    &:first-child {
      border-top-left-radius: $control-border-radius-rounded;
      border-bottom-left-radius: $control-border-radius-rounded;
    }

    &:last-child {
      border-top-right-radius: $control-border-radius-rounded;
      border-bottom-right-radius: $control-border-radius-rounded;
    }
  }

  .ipreo-input-container {
    &:first-child .ipreo-input {
      border-top-left-radius: $control-border-radius-rounded;
      border-bottom-left-radius: $control-border-radius-rounded;
    }

    &:last-child .ipreo-input {
      border-top-right-radius: $control-border-radius-rounded;
      border-bottom-right-radius: $control-border-radius-rounded;
    }
  }
}

.ipreo-input-group-rounded-left {
  .ipreo-btn {
    &:first-child {
      border-top-left-radius: $control-border-radius-rounded;
      border-bottom-left-radius: $control-border-radius-rounded;
    }
  }

  .ipreo-input-container {
    &:first-child .ipreo-input {
      border-top-left-radius: $control-border-radius-rounded;
      border-bottom-left-radius: $control-border-radius-rounded;
    }
  }
}

.ipreo-input-group-rounded-right {
  .ipreo-btn {
    &:last-child {
      border-top-right-radius: $control-border-radius-rounded;
      border-bottom-right-radius: $control-border-radius-rounded;
    }
  }

  .ipreo-input-container {
    &:last-child .ipreo-input {
      border-top-right-radius: $control-border-radius-rounded;
      border-bottom-right-radius: $control-border-radius-rounded;
    }
  }
}

.ipreo-input-group-stacked {
  display: flex;
  flex-wrap: wrap;

  .ipreo-btn,
  .ipreo-input-addon,
  .ipreo-input-container {
    &:not(:first-child) {
      margin-left: 0; // reset margin from .ipreo-input-group
      margin-top: -$control-border-width;
    }
  }

  .ipreo-input-container,
  .ipreo-btn {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .ipreo-btn {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-radius: $control-border-radius $control-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $control-border-radius $control-border-radius;
    }
  }

  .ipreo-input-container {
    &:not(:first-child):not(:last-child) .ipreo-input {
      border-radius: 0;
    }

    &:first-child .ipreo-input {
      border-radius: $control-border-radius $control-border-radius 0 0;
    }

    &:last-child .ipreo-input {
      border-radius: 0 0 $control-border-radius $control-border-radius;
    }
  }
}
