.c-nav-header {
  @extend %row;
  @extend %vertical-align-middle;

  background-color: $header-bg;
  color: $header-text;
  height: $header-height;

  a {
    color: $header-text;
    text-decoration: none;

    &:hover {
      color: $header-text-hover;
      transition: color 0.25s linear;
    }
  }
}
