@import 'mixins';

.c-avatar {
  @include avatar;
}

@each $avatar-color in $avatar-colors {
  $avatar-color-namespace: nth($avatar-color, 1);
  $avatar-bg-color: nth($avatar-color, 2);

  .c-avatar-#{$avatar-color-namespace} {
    background: $avatar-bg-color;
  }
}

.c-avatar-secondary {
  color: #495057;
}

@each $avatar-size in $avatar-sizes {
  $avatar-size-namespace: nth($avatar-size, 1);
  $avatar-font-size: nth($avatar-size, 3);
  $avatar-icon-size: nth($avatar-size, 4);
  $avatar-status-size: nth($avatar-size, 5);
  $avatar-size: nth($avatar-size, 2);

  .c-avatar-#{$avatar-size-namespace} {
    @include avatar-size($avatar-size, $avatar-font-size, $avatar-icon-size, $avatar-status-size);
  }
}
