@import 'mixins';

@include accordion;

.c-accordion-bordered {
  .c-accordion-item {
    &-panel {
      border-top: $accordion-item-border;
    }

    &:first-child {
      & .c-accordion-item-panel {
        border-top: $accordion-item-first-child-border;
      }
    }

    &:last-child {
      & .c-accordion-item-panel {
        border-bottom: $accordion-item-last-child-border;
      }
    }
  }
}
