// Alerts

@import 'mixins';
@import 'toast-alerts-mixins';

.c-alert {
  @include alert-base;

  &-primary {
    @include alert-style($alert-primary-bg, $alert-primary-color, $alert-primary-icon-color);
  }

  &-danger {
    @include alert-style($alert-danger-bg, $alert-danger-color, $alert-danger-icon-color);
  }

  &-warning {
    @include alert-style($alert-warning-bg, $alert-warning-color, $alert-warning-icon-color);
  }

  &-success {
    @include alert-style($alert-success-bg, $alert-success-color, $alert-success-icon-color);
  }

  &-sm {
    @include alert-size(0.25rem);
  }

  &-lg {
    @include alert-size(1rem);
  }
}

.c-alert-top {
  border-radius: $alert-top-radius;
  padding: $alert-top-padding;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  box-shadow: $alert-shadows;

  &.c-alert-has-icon {
    padding-left: $alert-top-icon-padding;

    .c-alert-icon {
      top: $alert-top-padding;
      left: $alert-top-padding;
      bottom: $alert-top-padding;
      width: $alert-icon-width;
    }
  }
}


.c-toast-alert {
  @include toast-alert;

  &-danger {
    @include toast-alert-style($toast-alert-danger-color, $toast-alert-danger-bar-bd, $toast-alert-danger-bar-bg);
  }

  &-warning {
    @include toast-alert-style($toast-alert-warning-color, $toast-alert-warning-bar-bd, $toast-alert-warning-bar-bg);
  }

  &-success {
    @include toast-alert-style($toast-alert-success-color, $toast-alert-success-bar-bd, $toast-alert-success-bar-bg);
    @include taost-alert-success-icon;
  }

  &-info {
    @include toast-alert-style($toast-alert-info-color, $toast-alert-info-bar-bd, $toast-alert-info-bar-bg);
    @include toast-alert-info-icon;
  }
}
