@mixin box {
  border-radius: $card-border-radius;
  border: 1px solid $card-border-color;
  background-color: $card-bg;
  color: $card-text-color;
  box-shadow: $card-shadow;
}


@mixin box-content {
  padding: $card-padding;
  font-weight: normal;

  &-title {
    font-size: $card-title-font-size;
    font-weight: bold;
    line-height: 1;
  }

  &-subtitle {
    font-size: $card-subtitle-font-size;
  }

  &-body {
    font-size: $card-body-font-size;
  }
}


.c-box {
  @include card;

  &-content {
    @include card-content;
  }

}