@mixin box {
  border-radius: $card-border-radius;
  border: 1px solid $card-border-color;
  background-color: $card-bg;
  color: $card-text-color;
  box-shadow: $card-shadow;
}

.c-box {
  @include box;
}
