@mixin box {
  border-radius: $box-border-radius;
  border: 1px solid $box-border-color;
  background-color: $box-bg;
  padding: $box-padding;
  color: $box-text-color;
  box-shadow: $box-shadow;
}

.c-box {
  @include box;
}
