$icon-sizes: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  lg: 16px,
  xl: 18px
) !default;

.c-icon {
  font-size: 14px;
}

@mixin icon-class-export {
  @each $size, $icon-size in $icon-sizes {
    .c-icon-#{$size} {
      font-size: #{$icon-size};
    }
  }
}


