.c-media {
  display: flex;
}

.c-media-body {
  flex: 1;
  min-width: 1px;
}

.c-media-middle {
  align-self: center;
}

.c-media-bottom {
  align-self: flex-end;
}

.c-media-object {
  display: block;

  &-thumbnail {
    max-width: none;
  }
}

//
// Alignment
//
.c-media-right {
  padding-left: $space-md;
}

.c-media-left {
  padding-right: $space-md;
}

.c-media-heading {
  margin-bottom: 0;
  margin-top: 0;
}

.c-media-list {
  padding-left: 0;
  list-style: none;
}
