/*
* ==========================================================================
* Button Dropdowns
* ==========================================================================
*/

.c-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;

  &-right {
    float: right;
  }
}

.c-dropdown-list {
  @include dropdown-list;

  &-right {
    right: 0;
    left: auto;
  }

  &-below {
    top: 100%;
    
    @if $dropdown-glued {
      border-radius: 0 0 $dropdown-radius $dropdown-radius;
    }
  }

  &-above {
    bottom: 100%;
    margin-bottom: 0;
    top: auto;
    border-bottom: 0;
    box-shadow: $dropdown-box-shadow;

    @if $dropdown-glued {
      border-radius: $dropdown-radius $dropdown-radius 0 0;
    }
  }
}

.c-dropdown-list > li {
  padding: 0;
  margin: 0;
  display: block;

  > a {
    display: block;
    font-size: $dropdown-font-size;
    padding: $dropdown-padding;
    font-weight: $dropdown-font-weight;
    color: $dropdown-color;
    text-decoration: none;

    &:hover {
      color: $dropdown-color-hover;
      background: $dropdown-background-hover;
      text-decoration: none;
    }
  }
}

.c-dropdown-divider {
  border-top: $dropdown-border;

  > a {
    margin-top: $dropdown-divider-margin;
  }
}
