/*
* ==========================================================================
* Button Group
* ==========================================================================
*/

.c-btn-group {
  display: inline-flex;

  .c-btn {
    position: relative;
    float: left;
    border-right-width: 0;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $global-radius;
      border-bottom-left-radius: $global-radius;
    }

    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
            &:hover {
        margin-right: 0px;
      }

      &.selected,
      &:focus,
      &:active,
      &:hover {
        border-right-width: 1px;
      }
    }
  }
}

.c-btn-group-vertical {
  display: inline-block;

  .c-btn {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    margin-top: -1px;

    &:first-child:not(:only-child) {
      margin-top: 0;
    }

    &:first-child:not(:only-child) {
      border-radius: $global-radius;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child:not(:only-child) {
      border-radius: $global-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.c-btn-group-lg {
  .c-btn-box {
    height: 48px;
    width: 50px;
    text-align: center;
    font-size: 16px;
  }
}

.c-btn-group {
  .c-btn-secondary:not(:disabled) {
    &:hover {
      border-right: 1px solid;
      margin-right: -1px;
      z-index: 1002;
    &:last-child {
        margin-right: 0;
      }
  }
}
}