/*
* ==========================================================================
* Button Sizes
* ==========================================================================
*/
@each $btn-size in $btn-sizes {
  $btn-size-name: nth($btn-size, 1);
  $btn-size-font: nth($btn-size, 2);
  $btn-size-namespace: #{$btn-size-name};

  .c-btn-#{$btn-size-namespace} {
    font-size: $btn-size-font;

    @if map-has-key($btn-size-padding, $btn-size-name) {
      padding: map-get($btn-size-padding, $btn-size-name);
    }
  }
}


/*
* ==========================================================================
* Button Shapes
* ==========================================================================
*/
@each $btn-shape in $btn-shapes {
  $btn-shape-name: nth($btn-shape, 1);
  $btn-shape-radius: nth($btn-shape, 2);

  .c-btn-#{$btn-shape-name} {
    border-radius: $btn-shape-radius;
  }
}

.c-btn-circle {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  // Make btn width equal to height. line height + padding + left&right border;
  width: unquote('calc(#{1em * $btn-line-height} + #{$btn-default-padding-v * 2} + #{$btn-border-width * 2})');
}

.c-btn-box {
  padding-left: $btn-default-padding-v+.2em;
  padding-right: $btn-default-padding-v+.2em;
}
