/*
* ==========================================================================
* Button Steppers
* ==========================================================================
*/

@each $pair in $btn-colors {
  .c-btn-#{nth($pair, 1)}-stepper {
    $color: nth($pair, 2);

    $font-color: nth($pair, 3);

    font-size: $btn-font-size;
    background: $color;
    color: $font-color;
    border-color: darken($color, 8%) darken($color, 8%) darken($color, 8%);
    border-radius: $btn-radius;

    @if $btn-gradients == true {
      @include linear-gradient(to bottom, lighten($color, 6%), $color 66%, darken($color, 4%));
    }

    @else {
      background: $color;
    }

    &:hover {
      background: lighten($color, 4%);
    }

    &.c-btn-active {
      background: $color;
      border-color: darken($color, 15%) darken($color, 10%) darken($color, 10%);
    }
  }
}

.c-btn-group-stepper {
  .c-btn {
    &-secondary {
      &:hover {
        margin-right: -1px;
        z-index: 1;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.c-btn-group-stepper-lg {
  .c-btn {
    font-size: .875rem;
    padding: 15px 29px;

    &-box {
      height: 48px;
      padding: 0 18px;
    }

    &-secondary {
      &:hover {
        margin-right: -1px;
        z-index: 1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

