/*
* ==========================================================================
* Button Base
* ==========================================================================
*/
.c-btn {
  @include btn-base();

  &:active,
  &-active {
    @include btn-active;
  }
}

// Full-width
.c-btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

@each $pair in $btn-colors {
  .c-btn-#{nth($pair, 1)} {
    $color: nth($pair, 2);
    $font-color: nth($pair, 3);

    font-size: $btn-font-size;
    background: $color;
    color: $font-color;
    border-color: darken($color, 8%) darken($color, 8%) darken($color, 8%);
    border-radius: $btn-radius;

    @if $btn-gradients == true {
      @include linear-gradient(to bottom, lighten($color, 6%), $color 66%, darken($color, 4%));
    }

    @else {
      background: $color;
    }

    @each $exclude in $btn-no-border {
      @if nth($pair, 1) == $exclude {
        border: 0;
        line-height: calc(1em + 2px);
      }
    }

    &:focus {
      color: $font-color;
    }

    &:hover,
    a:hover,
    a:focus {
      background: lighten($color, 4%);
      color: $font-color;
    }

    &:active,
    &.c-btn-active {
      background: $color;
      border-color: darken($color, 15%) darken($color, 10%) darken($color, 10%);
    }
  }
}
