/// Buttons

.c-btn {
  @include btn-base;

  &:active,
  &-active {
    @include btn-active;
  }

  &-primary {
    @include btn-style($btn-primary-bg);

    &-outline {
      @include btn-outline($btn-primary-bg);
    }
  }

  &-secondary,
  &-default {
    @include btn-secondary($btn-secondary-bg);

    &-outline {
      @include btn-outline($color-gray-7);
    }
  }

  &-success {
    @include btn-style($btn-success-bg);

    &-outline {
      @include btn-outline($btn-success-bg);
    }
  }

  &-danger {
    @include btn-style($btn-danger-bg);

    &-outline {
      @include btn-outline($btn-danger-bg);
    }
  }

  @if $btn-active-selected {
    @include btn-active-selected;
  }
}

.c-btn-link {
  @include btn-base;

  color: $primary;
  box-shadow: none;

  &:hover {
    color: lighten($primary, 15);
  }

  &:active {
    color: darken($primary, 15);
    box-shadow: none;
  }

  &-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: $btn-disabled-c;
      line-height: 1;
      cursor: not-allowed;
      appearance: none;
      box-shadow: none;
      opacity: $btn-disabled-opacity;
    }
  }
}


.c-btn,
.c-btn-link {
  &-sm {
    @include btn-size(sm);
  }

  &-lg {
    @include btn-size(lg);
  }

  &-xl {
    @include btn-size(xl);
  }
}

.c-btn-block {
  display: block;
  width: 100%;
  text-align: center;
}


.c-btn-disabled,
.c-btn[disabled] {
  @include btn-disabled;
}

