////
/// @group checkboxes
////

/// $checkbox-size           
$checkbox-size            : 18px !default;

/// $checkbox-size-sm         
$checkbox-size-sm         : 14px !default;

/// $checkbox-size-lg         
$checkbox-size-lg         : 24px !default;

/// $checkbox-size-xl        
$checkbox-size-xl         : 28px !default;

/// $checkbox-icon-radius   
$checkbox-radius     : 2px !default;

/// $checkbox-control
$checkbox-control: transparent;

/// $checkbox-control-active 
$checkbox-control-active: $primary;

/// $checkbox-control-border
$checkbox-control-border: $color-gray-4;

/// $checkbox-font-color
$checkbox-font-color: $color-gray-7;

/// $checkbox-control-disabled
$checkbox-control-disabled: $color-gray-4;


@mixin checkbox($font-size: $checkbox-size, $color: $checkbox-control-active) {
  input[type='checkbox'] {
    position: absolute;
    display: none;
    opacity: 0;
  }

  input[type='checkbox'][disabled] {
    cursor: not-allowed;
  }

  input[type='checkbox'] + i {
    position: relative;
    display: inline-block;
    color: $checkbox-font-color;
    padding: 0 $font-size/2 0 1.75 * $font-size;
    cursor: pointer;
    vertical-align: middle;
    font-style: normal;
    font-size: $font-size;
    line-height: 1.3em;
    margin-bottom: .5 * $font-size;

    &:hover {
      &::before {
        border: 1px solid $color;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 1.25 * $font-size;
      height: 1.25 * $font-size;
      content: '';
      transition: border .2s ease;
      border: 1px solid $checkbox-control-border;
      background: $checkbox-control;
    }

    &::after {
      position: absolute;
      content: '';
      transition: all .2s ease;
    }
  }

  input[type='checkbox'][disabled] + i {
    cursor: not-allowed;

    &:hover,
    &::before,
    &::after {
      cursor: not-allowed;
    }

    &::before {
      border-color: $checkbox-control-disabled;
    }
  }

  input[type='checkbox']:checked + i {
    &::before {
      animation-name: none;
    }

    &::after {
      transform: scale(1);
    }
  }

  // Checkbox specific styling

  input[type='checkbox'] + i {
    &::before {
      border-radius: $checkbox-radius;
    }

    &::after {
      top: 0.2 * $font-size;
      left: 0.4375 * $font-size;
      width: 0.375 * $font-size;
      height: 0.75 * $font-size;
      transform: scale(0) rotate(45deg);
      border-width: 0.125 * $font-size;
      border-style: solid;
      border-color: #ffffff;
      border-top: 0;
      border-left: 0;
    }
  }

  input[type='checkbox']:checked + i {
    &::before {
      border: 1px solid $color;
      background: $color;
    }

    &::after {
      transform: scale(1) rotate(45deg);
    }
  }

  input[type='checkbox']:checked[disabled] + i {
    &::before {
      border: 1px solid lighten($color, 30%);
      background: lighten($color, 30%);
    }
  }
}

@mixin checkbox-color($color: $checkbox-control-active) {
  input[type='checkbox'] + i {
    &:hover {
      &::before {
        border: 1px solid $color;
      }
    }
  }

  input[type='checkbox']:checked + i {
    &::before {
      border: 1px solid $color;
      background: $color;
    }
  }

  input[type='checkbox']:checked[disabled] + i {
    &::before {
      border: 1px solid lighten($color, 30%);
      background: lighten($color, 30%);
    }
  }
}


@mixin checkbox-size($font-size: $checkbox-size) {
  input[type='checkbox'] + i {
    padding: 0 $font-size/2 0 1.75 * $font-size;
    font-size: $font-size;
    margin-bottom: .5 * $font-size;

    &::before {
      width: 1.25 * $font-size;
      height: 1.25 * $font-size;
    }
  }

  // Checkbox specific styling
  input[type='checkbox'] + i {
    &::after {
      top: 0.2 * $font-size;
      left: 0.4375 * $font-size;
      width: 0.375 * $font-size;
      height: 0.75 * $font-size;
      border-width: 0.125 * $font-size;
    }
  }
}
