@import 'mixins';

.c-checkbox,
.c-radio {
  @include checkbox;
}

.c-checkbox,
.c-radio {
  &-sm {
    @include checkbox;
    @include checkbox-size($checkbox-size-sm);
  }

  &-lg {
    @include checkbox;
    @include checkbox-size($checkbox-size-lg);
  }

  &-xl {
    @include checkbox;
    @include checkbox-size($checkbox-size-xl);
  }
}

.c-checkbox,
.c-radio {
  &-success {
    @include checkbox-color($success);
  }

  &-warning {
    @include checkbox-color($warning);
  }

  &-danger {
    @include checkbox-color($danger);
  }
}


.c-control {
  @include control;

  padding: 0 $checkbox-size - 8 0 $checkbox-size + 8;

  &.c-checkbox > i,
  &.c-radio > i {
    position: absolute;
    left: 0;
  }

  &-sm {
    @include control($checkbox-size-sm);

    padding: 0 $checkbox-size-sm / 4 0 $checkbox-size-sm + 4;

    &.c-checkbox-sm > i,
    &.c-radio-sm > i {
      position: absolute;
      left: 0;
    }
  }

  &-lg {
    @include control($checkbox-size-lg);

    padding: 0 $checkbox-size-lg / 3 0 $checkbox-size-lg + 8;

    &.c-checkbox-lg > i,
    &.c-radio-lg > i {
      position: absolute;
      left: 0;
    }
  }

  &-xl {
    @include control($checkbox-size-xl);

    padding: 0 $checkbox-size-xl / 4 0 $checkbox-size-xl + 8;

    &.c-checkbox-xl > i,
    &.c-radio-xl > i {
      position: absolute;
      left: 0;
    }
  }
}

i.c-bg-primary {
  background-color: $primary;
}

i.c-bg-success {
  background-color: $success;
}

i.c-bg-warning {
  background-color: $warning;
}

i.c-bg-danger {
  background-color: $danger;
}


.c-radio {
  input:disabled:checked {
    + i {
      &::before {
        background: $checkbox-disabled;
      }

      &::after {
        background: $color-gray-5;
      }
    }
  }
}
