.ipreo-nav-right {
  float: right;
  text-align: left;
  margin-right: 0;

  @extend %col-4;
  @extend %vertical-align-middle;
  @extend %justify-right;

  @media (min-width: 480px) and (max-width: 1024px) {
    width: 44%;
  }
}

.ipreo-nav-user-menu {
  float: right;
  line-height: 2;
  height: auto;
  padding: 0;
  width: 100%;
}

.ipreo-nav-user-menu-link {
  display: inline-block;
  padding: rem-calc(16 12 15 12);
  border-left: 1px solid rgba(245, 245, 245, 0.07);
  text-decoration: none;
  text-align: center;
  min-width: rem-calc(55);
  float: right;
  font-weight: bold;
  color: $nav-user-menu-link-text;

  .fa-cog {
    font-size: 18px;
  }

  .fa-bell {
    font-size: 15px;
  }

  @include bp-until-desktop {
    display: none;
  }
}

.ipreo-nav-user-menu-toggle {
  float: right;
  display: inline-block;
  padding: 10px 15px 0 5px;
  text-decoration: none;
}

.fa-gear {
  margin-left: 5px;
}

.ipreo-nav-user-avatar {
  border-radius: 500px;
  width: 25px;

  @extend %vertical-align-middle;
}

.ipreo-nav-user-select {
  @extend %vertical-align-middle;

  position: relative;
  display: flex;
  text-align: left;
  float: right;
  padding: 0 10px;
  -webkit-appearance: none;
  margin: 0;
  min-width: rem-calc(140);
  border-radius: 3px 3px 0 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  text-decoration: none;
  user-select: none;
  border-left: 1px solid rgba(245, 245, 245, 0.07);
  height: $header-height;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.ipreo-nav-user-select-list {
  padding: 5px;
  list-style: none;
  top: 37px;
  position: absolute;
  right: 0;
  min-width: 140px;
  border-top: 1px solid $dividers;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 $nav-border-radius $nav-border-radius;
  background: $nav-user-select-bg;
  box-shadow: $nav-user-select-shadow;
  transition: opacity 0.25s linear;
  width: 100%;

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid $white;
    border-bottom: 1px solid $dividers;
    margin: 1px -5px;
  }

  .ipreo-nav-user-select.is-open & {
    opacity: 1;
    visibility: visible;
  }
}

.ipreo-nav-user-select-list-item {
  padding: 6px;
  font-size: $nav-user-select-font-size;
  line-height: 1.2;
  cursor: pointer;
  color: $nav-user-select-item-text;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.25s linear;

  &:hover {
    background-color: $nav-user-select-item-bg-hover;
    color: $nav-user-select-item-text-hover;

    a {
      color: $nav-user-select-item-text-hover;
    }
  }

  a {
    color: $nav-user-select-item-text;
  }
}

.ipreo-nav-user-select-dropdown {
  padding: rem-calc(10 6);
  background-color: transparent;
  color: $nav-user-select-dropdown-text;
  font-size: $nav-user-select-font-size;
  border-radius: 3px;
  font-weight: bold;
  margin-right: rem-calc(10);
  margin-top: rem-calc(3);

  &:hover {
    color: $nav-user-select-dropdown-text-hover;
  }

  &::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    opacity: .5;
    right: rem-calc(10);
  }
}

.js-dropdown.is-open {
  background: $nav-user-select-bg;
  transition: background-color 0.25s linear;

  span {
    color: $nav-user-select-dropdown-text-is-open;
  }
}
