////
/// @group tabs
////

/// $tabs-borders: 1px solid #cecece!default;
$tabs-borders: 1px solid $global-border-color !default;

/// $tabs-border-radius: $global-radius!default;
$tabs-border-radius: $global-radius !default;

/// $tabs-full-width-border: true!default;
$tabs-full-width-border: true !default;

/// $tabs-color: $body-font-color!default;
$tabs-color: $color-gray-5 !default;

/// $tabs-color-hover: $primary!default;
$tabs-color-hover: $primary !default;

/// $tabs-color-active: $primary!default;
$tabs-color-active: $primary !default;

/// $tabs-color-disabled
$tabs-color-disabled: $color-gray-3 !default;

/// $tabs-font-weight
$tabs-font-weight: bold !default;

/// $tabs-default-link-padding: rem-calc(6 12)!default;
$tabs-default-link-padding: 10px 12px !default;

/// $tabs-bordered-link-padding: $tabs-default-link-padding!default;
$tabs-bordered-link-padding: 6px 12px !default;

/// $tabs-toggle-link-padding: $tabs-default-link-padding!default;
$tabs-toggle-link-padding: 6px 12px !default;

/// $tabs-default-space-between: rem-calc(0)!default;
$tabs-default-space-between: 0 !default;

/// $tabs-bordered-space-between: rem-calc(3)!default;
$tabs-bordered-space-between: 3px !default;

/// $tabs-link-border-bottom: 2px !default;
$tabs-link-border-bottom: 2px !default;

/// $tabs-bg: #eaeaea !default;
$tabs-bg: $color-gray-1 !default;

/// $tabs-bg-hover: lighten($tabs-bg, 5%)!default;
$tabs-bg-hover: lighten($tabs-bg, 5%) !default;

/// $tabs-bg-active: lighten($tabs-bg, 5%)!default;
$tabs-bg-active: lighten($tabs-bg, 5%) !default;

/// $tabs-font-size-default: rem-calc(14)!default;
$tabs-font-size-default: 14px !default;

/// $tabs-hover-transition: all 0.4s ease 0s !default;
$tabs-hover-transition: all 0.4s ease 0s !default;

/// $tab-size-xs:
$tab-font-size-xs: 10px !default;

/// $tab-size-sm:
$tab-font-size-sm: 12px !default;

/// $tab-size-lg:
$tab-font-size-lg: 20px !default;

@mixin tabs {
  align-items: stretch;
  display: flex;
  white-space: nowrap;
  font-size: $tabs-font-size-default;
  font-weight: $tabs-font-weight;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @if $tabs-full-width-border {
    box-shadow: inset 0 -2px 0 0 #e6edf1;
  }
}

@mixin tab-item {
  align-items: center;
  color: $tabs-color;
  display: flex;
  justify-content: center;
}

@mixin tab-item-link {
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: $tabs-color;
  flex: auto;
  justify-content: center;
  padding: $tabs-default-link-padding;
  margin-right: $tabs-default-space-between;
  border-bottom: $tabs-link-border-bottom solid transparent;
  cursor: pointer;

  @if $tabs-full-width-border {
    // margin-bottom: -1px;
  }

  a {
    color: $tabs-color-active;
  }

  &:hover {
    border-bottom: $tabs-link-border-bottom solid $tabs-color-hover;
    transition: $tabs-hover-transition;
    color: $tabs-color-hover;
  }
}

@mixin tab-item-active {
  &,
  & a {
    color: $tabs-color-active;
  }

  &,
  &:hover {
    border-bottom-style: solid;
    border-bottom-width: $tabs-link-border-bottom;

    @if $tabs-full-width-border {
      border-bottom-color: $tabs-color-active;
    } @else {
      border-bottom-color: $tabs-color;
    }
  }
}


@mixin tab-item-disabled {
  &,
  & a,
  &:hover,
  &:focus,
  &:active {
    color: $tabs-color-disabled;
    cursor: not-allowed;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
}
