@mixin tabs {
  align-items: stretch;
  display: flex;
  white-space: nowrap;
  font-size: $tabs-font-size-default;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @if $tabs-full-width-border {
    border-bottom: $tabs-borders;
  }
}

@mixin tab-item {
  align-items: center;
  color: $tabs-color;
  display: flex;
  justify-content: center;
}

@mixin tab-item-link {
  margin: 0;
  text-align: center;
  color: $tabs-color;
  flex: auto;
  justify-content: center;
  padding: $tabs-text-default-padding;
  margin-right: $tabs-text-default-spacing;
  border-bottom: $tabs-link-border-bottom solid transparent;

  @if $tabs-full-width-border {
    margin-bottom: -1px;
  }  

  a {
    color: $tabs-color-active;
  }

  &:hover {
    border-bottom: $tabs-link-border-bottom solid $tabs-color-hover;
    transition: $tabs-hover-tranisition;
    color: $tabs-color-hover;
  }
}

@mixin tab-item-active {

  &,
  & a {
    color: $tabs-color-active;
  }

  &,
  &:hover {

    border-bottom-style: solid;
    border-bottom-width: $tabs-link-border-bottom;

    @if $tabs-full-width-border {
      border-bottom-color: $tabs-color-active;
    } @else {
      border-bottom-color: $tabs-color;
    }
  }
}


