/* stylelint-disable */
/* clean-css ignore:start */

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-Light.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-It.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

/* clean-css ignore:end */
