// Grays
$color-gray-0: #f8f9fa !default;
$color-gray-1: #f1f3f5 !default;
$color-gray-2: #e9ecef !default;
$color-gray-3: #dee2e6 !default;
$color-gray-4: #ced4da !default;
$color-gray-5: #adb5bd !default;
$color-gray-6: #868e96 !default;
$color-gray-7: #495057 !default;
$color-gray-8: #343a40 !default;
$color-gray-9: #212529 !default;

// Primary
$color-primary-0: #e8f7ff !default;
$color-primary-1: #ccedff !default;
$color-primary-2: #a3daff !default;
$color-primary-3: #72c3fc !default;
$color-primary-4: #4dadf7 !default;
$color-primary-5: #329af0 !default;
$color-primary-7: #1c7cd6 !default;
$color-primary-6: #228ae6 !default;
$color-primary-8: #1b6ec2 !default;
$color-primary-9: #1862ab !default;

// Success
$color-success-0: #ebfbee !default;
$color-success-1: #d3f9d8 !default;
$color-success-2: #b2f2bb !default;
$color-success-3: #8ce99a !default;
$color-success-4: #69db7c !default;
$color-success-5: #51cf66 !default;
$color-success-6: #40c057 !default;
$color-success-7: #37b24d !default;
$color-success-8: #2f9e44 !default;
$color-success-9: #2b8a3e !default;

// Orange
$color-orange-0: #fff9db !default;
$color-orange-1: #fff3bf !default;
$color-orange-2: #ffec99 !default;
$color-orange-3: #ffe066 !default;
$color-orange-4: #ffd43b !default;
$color-orange-5: #fcc419 !default;
$color-orange-6: #fab005 !default;
$color-orange-7: #f59f00 !default;
$color-orange-9: #e67700 !default;
$color-orange-8: #f08c00 !default;

// Danger
$color-danger-0: #fff5f5 !default;
$color-danger-1: #ffe3e3 !default;
$color-danger-2: #ffc9c9 !default;
$color-danger-3: #ffa8a8 !default;
$color-danger-4: #ff8787 !default;
$color-danger-5: #ff6b6b !default;
$color-danger-6: #fa5252 !default;
$color-danger-7: #f03e3e !default;
$color-danger-8: #e03131 !default;
$color-danger-9: #c92a2a !default;

// Pink
$color-pink-0: #fff0f6 !default;
$color-pink-1: #ffdeeb !default;
$color-pink-2: #fcc2d7 !default;
$color-pink-3: #faa2c1 !default;
$color-pink-4: #f783ac !default;
$color-pink-5: #f06595 !default;
$color-pink-6: #e64980 !default;
$color-pink-7: #d6336c !default;
$color-pink-8: #c2255c !default;
$color-pink-9: #a61e4d !default;

// Grape
$color-grape-0: #f8f0fc !default;
$color-grape-1: #f3d9fa !default;
$color-grape-2: #eebefa !default;
$color-grape-3: #e599f7 !default;
$color-grape-4: #da77f2 !default;
$color-grape-5: #cc5de8 !default;
$color-grape-6: #be4bdb !default;
$color-grape-7: #ae3ec9 !default;
$color-grape-8: #9c36b5 !default;
$color-grape-9: #862e9c !default;

// Violet
$color-violet-0: #f3f0ff !default;
$color-violet-1: #e5dbff !default;
$color-violet-2: #d0bfff !default;
$color-violet-3: #b197fc !default;
$color-violet-4: #9775fa !default;
$color-violet-5: #845ef7 !default;
$color-violet-6: #7950f2 !default;
$color-violet-7: #7048e8 !default;
$color-violet-8: #6741d9 !default;
$color-violet-9: #5f3dc4 !default;

// Indigo
$color-indigo-0: #edf2ff !default;
$color-indigo-1: #dbe4ff !default;
$color-indigo-2: #bac8ff !default;
$color-indigo-3: #91a7ff !default;
$color-indigo-4: #748ffc !default;
$color-indigo-5: #5c7cfa !default;
$color-indigo-6: #4c6ef5 !default;
$color-indigo-7: #4263eb !default;
$color-indigo-8: #3b5bdb !default;
$color-indigo-9: #364fc7 !default;

// Cyan
$color-cyan-0: #e3fafc !default;
$color-cyan-1: #c5f6fa !default;
$color-cyan-2: #99e9f2 !default;
$color-cyan-3: #66d9e8 !default;
$color-cyan-4: #3bc9db !default;
$color-cyan-5: #22b8cf !default;
$color-cyan-6: #15aabf !default;
$color-cyan-7: #1098ad !default;
$color-cyan-9: #0b7285 !default;
$color-cyan-8: #0c8599 !default;

// Teal
$color-teal-0: #e6fcf5 !default;
$color-teal-1: #c3fae8 !default;
$color-teal-2: #96f2d7 !default;
$color-teal-3: #63e6be !default;
$color-teal-4: #38d9a9 !default;
$color-teal-5: #20c997 !default;
$color-teal-6: #12b886 !default;
$color-teal-7: #0ca678 !default;
$color-teal-8: #099268 !default;
$color-teal-9: #087f5b !default;

// Lime
$color-lime-0: #f4fce3 !default;
$color-lime-1: #e9fac8 !default;
$color-lime-2: #d8f5a2 !default;
$color-lime-3: #c0eb75 !default;
$color-lime-4: #a9e34b !default;
$color-lime-5: #94d82d !default;
$color-lime-6: #82c91e !default;
$color-lime-7: #74b816 !default;
$color-lime-8: #66a80f !default;
$color-lime-9: #5c940d !default;

// Warning
$color-warning-0: #fff4e6 !default;
$color-warning-1: #ffe8cc !default;
$color-warning-2: #ffd8a8 !default;
$color-warning-3: #ffc078 !default;
$color-warning-4: #ffa94d !default;
$color-warning-5: #ff922b !default;
$color-warning-6: #fd7e14 !default;
$color-warning-7: #f76707 !default;
$color-warning-8: #e8590c !default;
$color-warning-9: #d9480f !default;


// header-xxl font style
$font-header-xxl-font-size: 64px !default;
$font-header-xxl-line-height: 75px !default;
$font-header-xxl-color: #495057 !default;
$font-header-xxl-font-style: normal !default;
$font-header-xxl-font-weight: bold !default;
$font-header-xxl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xxl () {
  font-size: $font-header-xxl-font-size;
  line-height: $font-header-xxl-line-height;
  color: $font-header-xxl-color;
  font-style: $font-header-xxl-font-style;
  font-weight: $font-header-xxl-font-weight;
  font-family: $font-header-xxl-font-family;
}

// header-xl font style
$font-header-xl-font-size: 48px !default;
$font-header-xl-line-height: 60px !default;
$font-header-xl-color: #495057 !default;
$font-header-xl-font-style: normal !default;
$font-header-xl-font-weight: bold !default;
$font-header-xl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xl () {
  font-size: $font-header-xl-font-size;
  line-height: $font-header-xl-line-height;
  color: $font-header-xl-color;
  font-style: $font-header-xl-font-style;
  font-weight: $font-header-xl-font-weight;
  font-family: $font-header-xl-font-family;
}

// header-lg font style
$font-header-lg-font-size: 36px !default;
$font-header-lg-line-height: 45px !default;
$font-header-lg-color: #495057 !default;
$font-header-lg-font-style: normal !default;
$font-header-lg-font-weight: bold !default;
$font-header-lg-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-lg () {
  font-size: $font-header-lg-font-size;
  line-height: $font-header-lg-line-height;
  color: $font-header-lg-color;
  font-style: $font-header-lg-font-style;
  font-weight: $font-header-lg-font-weight;
  font-family: $font-header-lg-font-family;
}

// header-md font style
$font-header-md-font-size: 24px !default;
$font-header-md-line-height: 35px !default;
$font-header-md-color: #495057 !default;
$font-header-md-font-style: normal !default;
$font-header-md-font-weight: bold !default;
$font-header-md-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-md () {
  font-size: $font-header-md-font-size;
  line-height: $font-header-md-line-height;
  color: $font-header-md-color;
  font-style: $font-header-md-font-style;
  font-weight: $font-header-md-font-weight;
  font-family: $font-header-md-font-family;
}

// header-sm font style
$font-header-sm-font-size: 20px !default;
$font-header-sm-line-height: 30px !default;
$font-header-sm-color: #495057 !default;
$font-header-sm-font-style: normal !default;
$font-header-sm-font-weight: bold !default;
$font-header-sm-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-sm () {
  font-size: $font-header-sm-font-size;
  line-height: $font-header-sm-line-height;
  color: $font-header-sm-color;
  font-style: $font-header-sm-font-style;
  font-weight: $font-header-sm-font-weight;
  font-family: $font-header-sm-font-family;
}

// header-xs font style
$font-header-xs-font-size: 18px !default;
$font-header-xs-line-height: 25px !default;
$font-header-xs-color: #495057 !default;
$font-header-xs-font-style: normal !default;
$font-header-xs-font-weight: bold !default;
$font-header-xs-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xs () {
  font-size: $font-header-xs-font-size;
  line-height: $font-header-xs-line-height;
  color: $font-header-xs-color;
  font-style: $font-header-xs-font-style;
  font-weight: $font-header-xs-font-weight;
  font-family: $font-header-xs-font-family;
}

// body font style
$font-body-font-size: 12px !default;
$font-body-line-height: 15px !default;
$font-body-color: #495057 !default;
$font-body-font-style: normal !default;
$font-body-font-weight: 400 !default;
$font-body-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body () {
  font-size: $font-body-font-size;
  line-height: $font-body-line-height;
  color: $font-body-color;
  font-style: $font-body-font-style;
  font-weight: $font-body-font-weight;
  font-family: $font-body-font-family;
}

// body-xl font style
$font-body-xl-font-size: 20px !default;
$font-body-xl-line-height: 25px !default;
$font-body-xl-color: #495057 !default;
$font-body-xl-font-style: normal !default;
$font-body-xl-font-weight: 400 !default;
$font-body-xl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xl () {
  font-size: $font-body-xl-font-size;
  line-height: $font-body-xl-line-height;
  color: $font-body-xl-color;
  font-style: $font-body-xl-font-style;
  font-weight: $font-body-xl-font-weight;
  font-family: $font-body-xl-font-family;
}


// body-xl font style
$font-body-xxl-font-size: 34px !default;
$font-body-xxl-line-height: 40px !default;
$font-body-xxl-color: #495057 !default;
$font-body-xxl-font-style: normal !default;
$font-body-xxl-font-weight: 400 !default;
$font-body-xxl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xxl () {
  font-size: $font-body-xxl-font-size;
  line-height: $font-body-xxl-line-height;
  color: $font-body-xxl-color;
  font-style: $font-body-xxl-font-style;
  font-weight: $font-body-xxl-font-weight;
  font-family: $font-body-xxl-font-family;
}


// body-lg font style
$font-body-lg-font-size: 18px !default;
$font-body-lg-line-height: 25px !default;
$font-body-lg-color: #495057 !default;
$font-body-lg-font-style: normal !default;
$font-body-lg-font-weight: 400 !default;
$font-body-lg-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-lg () {
  font-size: $font-body-lg-font-size;
  line-height: $font-body-lg-line-height;
  color: $font-body-lg-color;
  font-style: $font-body-lg-font-style;
  font-weight: $font-body-lg-font-weight;
  font-family: $font-body-lg-font-family;
}

// body-md font style
$font-body-md-font-size: 14px !default;
$font-body-md-line-height: 20px !default;
$font-body-md-color: #495057 !default;
$font-body-md-font-style: normal !default;
$font-body-md-font-weight: 400 !default;
$font-body-md-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-md () {
  font-size: $font-body-md-font-size;
  line-height: $font-body-md-line-height;
  color: $font-body-md-color;
  font-style: $font-body-md-font-style;
  font-weight: $font-body-md-font-weight;
  font-family: $font-body-md-font-family;
}

// body-sm font style
$font-body-sm-font-size: 12px !default;
$font-body-sm-line-height: 15px !default;
$font-body-sm-color: #495057 !default;
$font-body-sm-font-style: normal !default;
$font-body-sm-font-weight: 400 !default;
$font-body-sm-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-sm () {
  font-size: $font-body-sm-font-size;
  line-height: $font-body-sm-line-height;
  color: $font-body-sm-color;
  font-style: $font-body-sm-font-style;
  font-weight: $font-body-sm-font-weight;
  font-family: $font-body-sm-font-family;
}

// body-xs font style
$font-body-xs-font-size: 10px !default;
$font-body-xs-line-height: 15px !default;
$font-body-xs-color: #495057 !default;
$font-body-xs-font-style: normal !default;
$font-body-xs-font-weight: 400 !default;
$font-body-xs-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xs () {
  font-size: $font-body-xs-font-size;
  line-height: $font-body-xs-line-height;
  color: $font-body-xs-color;
  font-style: $font-body-xs-font-style;
  font-weight: $font-body-xs-font-weight;
  font-family: $font-body-xs-font-family;
}

// Unordered List font style
$font-unordered-list-font-size: 12px !default;
$font-unordered-list-line-height: 20px !default;
$font-unordered-list-color: #495057 !default;
$font-unordered-list-font-style: normal !default;
$font-unordered-list-font-weight: 400 !default;
$font-unordered-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-unordered-list () {
  font-size: $font-unordered-list-font-size;
  line-height: $font-unordered-list-line-height;
  color: $font-unordered-list-color;
  font-style: $font-unordered-list-font-style;
  font-weight: $font-unordered-list-font-weight;
  font-family: $font-unordered-list-font-family;
}

// Ordered List font style
$font-ordered-list-font-size: 12px !default;
$font-ordered-list-line-height: 20px !default;
$font-ordered-list-color: #495057 !default;
$font-ordered-list-font-style: normal !default;
$font-ordered-list-font-weight: 400 !default;
$font-ordered-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-ordered-list () {
  font-size: $font-ordered-list-font-size;
  line-height: $font-ordered-list-line-height;
  color: $font-ordered-list-color;
  font-style: $font-ordered-list-font-style;
  font-weight: $font-ordered-list-font-weight;
  font-family: $font-ordered-list-font-family;
}

// Unstyled List font style
$font-unstyled-list-font-size: 12px !default;
$font-unstyled-list-line-height: 20px !default;
$font-unstyled-list-color: #495057 !default;
$font-unstyled-list-font-style: normal !default;
$font-unstyled-list-font-weight: 400 !default;
$font-unstyled-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-unstyled-list () {
  font-size: $font-unstyled-list-font-size;
  line-height: $font-unstyled-list-line-height;
  color: $font-unstyled-list-color;
  font-style: $font-unstyled-list-font-style;
  font-weight: $font-unstyled-list-font-weight;
  font-family: $font-unstyled-list-font-family;
}

// Inline List font style
$font-inline-list-font-size: 12px !default;
$font-inline-list-line-height: 20px !default;
$font-inline-list-color: #495057 !default;
$font-inline-list-font-style: normal !default;
$font-inline-list-font-weight: 400 !default;
$font-inline-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-inline-list () {
  font-size: $font-inline-list-font-size;
  line-height: $font-inline-list-line-height;
  color: $font-inline-list-color;
  font-style: $font-inline-list-font-style;
  font-weight: $font-inline-list-font-weight;
  font-family: $font-inline-list-font-family;
}

// Block Quote - Quote font style
$font-block-quote-quote-font-size: 20px !default;
$font-block-quote-quote-line-height: 25px !default;
$font-block-quote-quote-color: #495057 !default;
$font-block-quote-quote-font-style: normal !default;
$font-block-quote-quote-font-weight: 400 !default;
$font-block-quote-quote-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-block-quote-quote () {
  font-size: $font-block-quote-quote-font-size;
  line-height: $font-block-quote-quote-line-height;
  color: $font-block-quote-quote-color;
  font-style: $font-block-quote-quote-font-style;
  font-weight: $font-block-quote-quote-font-weight;
  font-family: $font-block-quote-quote-font-family;
}

// Blockquote - Author font style
$font-blockquote-author-font-size: 10px !default;
$font-blockquote-author-line-height: 15px !default;
$font-blockquote-author-text-align: start !default;
$font-blockquote-author-color: #495057 !default;
$font-blockquote-author-letter-spacing: 0.8333333px !default;
$font-blockquote-author-text-transform: uppercase !default;
$font-blockquote-author-font-style: normal !default;
$font-blockquote-author-font-weight: bold !default;
$font-blockquote-author-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-blockquote-author () {
  font-size: $font-blockquote-author-font-size;
  line-height: $font-blockquote-author-line-height;
  color: $font-blockquote-author-color;
  letter-spacing: $font-blockquote-author-letter-spacing;
  text-transform: $font-blockquote-author-text-transform;
  font-style: $font-blockquote-author-font-style;
  font-weight: $font-blockquote-author-font-weight;
  font-family: $font-blockquote-author-font-family;
}


// Radius
$radius-sm: 2px !default;
$radius-md: 4px !default;
$radius-lg: 6px !default;
$radius-square: 0 !default;
$radius-round: 100% !default;
$radius-pill: 200px !default;

// Spacing
$spacing-none: 0 !default;
$spacing-xs: 0.25rem !default;
$spacing-sm: 0.5rem !default;
$spacing-md: 1rem !default;
$spacing-lg: 2rem !default;
$spacing-xl: 4rem !default;
$spacing-xxl: 8rem !default;
$spacing-xxxl: 16rem !default;
$spacing-global-padding: 1rem !default;
$spacing-global-margin: 1rem !default;
$spacing-global-gutter: 1.5rem !default;

// Sizing
$sizing-sidebar-width: 310px !default;
$sizing-sidebar-width-sm: 275px !default;
$sizing-full-width: 100% !default;
$sizing-icon-xs: 10px !default;
$sizing-icon-sm: 12px !default;
$sizing-icon-md: 14px !default;
$sizing-icon-lg: 16px !default;
$sizing-icon-xl: 18px !default;
$sizing-container-fixed-max-width: 1200px !default;
