@import "variables";

// header-xxl font style
$font-header-xxl-font-size: 64px !default;
$font-header-xxl-line-height: 75px !default;
$font-header-xxl-color: #495057 !default;
$font-header-xxl-font-style: normal !default;
$font-header-xxl-font-weight: bold !default;
$font-header-xxl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xxl () {
  font-size: $font-header-xxl-font-size;
  line-height: $font-header-xxl-line-height;
  color: $font-header-xxl-color;
  font-style: $font-header-xxl-font-style;
  font-weight: $font-header-xxl-font-weight;
  font-family: $font-header-xxl-font-family;
}

// header-xl font style
$font-header-xl-font-size: 48px !default;
$font-header-xl-line-height: 60px !default;
$font-header-xl-color: #495057 !default;
$font-header-xl-font-style: normal !default;
$font-header-xl-font-weight: bold !default;
$font-header-xl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xl () {
  font-size: $font-header-xl-font-size;
  line-height: $font-header-xl-line-height;
  color: $font-header-xl-color;
  font-style: $font-header-xl-font-style;
  font-weight: $font-header-xl-font-weight;
  font-family: $font-header-xl-font-family;
}

// header-lg font style
$font-header-lg-font-size: 36px !default;
$font-header-lg-line-height: 45px !default;
$font-header-lg-color: #495057 !default;
$font-header-lg-font-style: normal !default;
$font-header-lg-font-weight: bold !default;
$font-header-lg-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-lg () {
  font-size: $font-header-lg-font-size;
  line-height: $font-header-lg-line-height;
  color: $font-header-lg-color;
  font-style: $font-header-lg-font-style;
  font-weight: $font-header-lg-font-weight;
  font-family: $font-header-lg-font-family;
}

// header-md font style
$font-header-md-font-size: 24px !default;
$font-header-md-line-height: 35px !default;
$font-header-md-color: #495057 !default;
$font-header-md-font-style: normal !default;
$font-header-md-font-weight: bold !default;
$font-header-md-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-md () {
  font-size: $font-header-md-font-size;
  line-height: $font-header-md-line-height;
  color: $font-header-md-color;
  font-style: $font-header-md-font-style;
  font-weight: $font-header-md-font-weight;
  font-family: $font-header-md-font-family;
}

// header-sm font style
$font-header-sm-font-size: 20px !default;
$font-header-sm-line-height: 30px !default;
$font-header-sm-color: #495057 !default;
$font-header-sm-font-style: normal !default;
$font-header-sm-font-weight: bold !default;
$font-header-sm-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-sm () {
  font-size: $font-header-sm-font-size;
  line-height: $font-header-sm-line-height;
  color: $font-header-sm-color;
  font-style: $font-header-sm-font-style;
  font-weight: $font-header-sm-font-weight;
  font-family: $font-header-sm-font-family;
}

// header-xs font style
$font-header-xs-font-size: 18px !default;
$font-header-xs-line-height: 25px !default;
$font-header-xs-color: #495057 !default;
$font-header-xs-font-style: normal !default;
$font-header-xs-font-weight: bold !default;
$font-header-xs-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-header-xs () {
  font-size: $font-header-xs-font-size;
  line-height: $font-header-xs-line-height;
  color: $font-header-xs-color;
  font-style: $font-header-xs-font-style;
  font-weight: $font-header-xs-font-weight;
  font-family: $font-header-xs-font-family;
}

// body font style
$font-body-font-size: 12px !default;
$font-body-line-height: 15px !default;
$font-body-color: #495057 !default;
$font-body-font-style: normal !default;
$font-body-font-weight: 400 !default;
$font-body-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body () {
  font-size: $font-body-font-size;
  line-height: $font-body-line-height;
  color: $font-body-color;
  font-style: $font-body-font-style;
  font-weight: $font-body-font-weight;
  font-family: $font-body-font-family;
}

// body-xl font style
$font-body-xl-font-size: 20px !default;
$font-body-xl-line-height: 25px !default;
$font-body-xl-color: #495057 !default;
$font-body-xl-font-style: normal !default;
$font-body-xl-font-weight: 400 !default;
$font-body-xl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xl () {
  font-size: $font-body-xl-font-size;
  line-height: $font-body-xl-line-height;
  color: $font-body-xl-color;
  font-style: $font-body-xl-font-style;
  font-weight: $font-body-xl-font-weight;
  font-family: $font-body-xl-font-family;
}


// body-xl font style
$font-body-xxl-font-size: 34px !default;
$font-body-xxl-line-height: 40px !default;
$font-body-xxl-color: #495057 !default;
$font-body-xxl-font-style: normal !default;
$font-body-xxl-font-weight: 400 !default;
$font-body-xxl-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xxl () {
  font-size: $font-body-xxl-font-size;
  line-height: $font-body-xxl-line-height;
  color: $font-body-xxl-color;
  font-style: $font-body-xxl-font-style;
  font-weight: $font-body-xxl-font-weight;
  font-family: $font-body-xxl-font-family;
}


// body-lg font style
$font-body-lg-font-size: 18px !default;
$font-body-lg-line-height: 25px !default;
$font-body-lg-color: #495057 !default;
$font-body-lg-font-style: normal !default;
$font-body-lg-font-weight: 400 !default;
$font-body-lg-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-lg () {
  font-size: $font-body-lg-font-size;
  line-height: $font-body-lg-line-height;
  color: $font-body-lg-color;
  font-style: $font-body-lg-font-style;
  font-weight: $font-body-lg-font-weight;
  font-family: $font-body-lg-font-family;
}

// body-md font style
$font-body-md-font-size: 14px !default;
$font-body-md-line-height: 20px !default;
$font-body-md-color: #495057 !default;
$font-body-md-font-style: normal !default;
$font-body-md-font-weight: 400 !default;
$font-body-md-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-md () {
  font-size: $font-body-md-font-size;
  line-height: $font-body-md-line-height;
  color: $font-body-md-color;
  font-style: $font-body-md-font-style;
  font-weight: $font-body-md-font-weight;
  font-family: $font-body-md-font-family;
}

// body-sm font style
$font-body-sm-font-size: 12px !default;
$font-body-sm-line-height: 15px !default;
$font-body-sm-color: #495057 !default;
$font-body-sm-font-style: normal !default;
$font-body-sm-font-weight: 400 !default;
$font-body-sm-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-sm () {
  font-size: $font-body-sm-font-size;
  line-height: $font-body-sm-line-height;
  color: $font-body-sm-color;
  font-style: $font-body-sm-font-style;
  font-weight: $font-body-sm-font-weight;
  font-family: $font-body-sm-font-family;
}

// body-xs font style
$font-body-xs-font-size: 10px !default;
$font-body-xs-line-height: 15px !default;
$font-body-xs-color: #495057 !default;
$font-body-xs-font-style: normal !default;
$font-body-xs-font-weight: 400 !default;
$font-body-xs-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-body-xs () {
  font-size: $font-body-xs-font-size;
  line-height: $font-body-xs-line-height;
  color: $font-body-xs-color;
  font-style: $font-body-xs-font-style;
  font-weight: $font-body-xs-font-weight;
  font-family: $font-body-xs-font-family;
}

// Unordered List font style
$font-unordered-list-font-size: 12px !default;
$font-unordered-list-line-height: 20px !default;
$font-unordered-list-color: #495057 !default;
$font-unordered-list-font-style: normal !default;
$font-unordered-list-font-weight: 400 !default;
$font-unordered-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-unordered-list () {
  font-size: $font-unordered-list-font-size;
  line-height: $font-unordered-list-line-height;
  color: $font-unordered-list-color;
  font-style: $font-unordered-list-font-style;
  font-weight: $font-unordered-list-font-weight;
  font-family: $font-unordered-list-font-family;
}

// Ordered List font style
$font-ordered-list-font-size: 12px !default;
$font-ordered-list-line-height: 20px !default;
$font-ordered-list-color: #495057 !default;
$font-ordered-list-font-style: normal !default;
$font-ordered-list-font-weight: 400 !default;
$font-ordered-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-ordered-list () {
  font-size: $font-ordered-list-font-size;
  line-height: $font-ordered-list-line-height;
  color: $font-ordered-list-color;
  font-style: $font-ordered-list-font-style;
  font-weight: $font-ordered-list-font-weight;
  font-family: $font-ordered-list-font-family;
}

// Unstyled List font style
$font-unstyled-list-font-size: 12px !default;
$font-unstyled-list-line-height: 20px !default;
$font-unstyled-list-color: #495057 !default;
$font-unstyled-list-font-style: normal !default;
$font-unstyled-list-font-weight: 400 !default;
$font-unstyled-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-unstyled-list () {
  font-size: $font-unstyled-list-font-size;
  line-height: $font-unstyled-list-line-height;
  color: $font-unstyled-list-color;
  font-style: $font-unstyled-list-font-style;
  font-weight: $font-unstyled-list-font-weight;
  font-family: $font-unstyled-list-font-family;
}

// Inline List font style
$font-inline-list-font-size: 12px !default;
$font-inline-list-line-height: 20px !default;
$font-inline-list-color: #495057 !default;
$font-inline-list-font-style: normal !default;
$font-inline-list-font-weight: 400 !default;
$font-inline-list-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-inline-list () {
  font-size: $font-inline-list-font-size;
  line-height: $font-inline-list-line-height;
  color: $font-inline-list-color;
  font-style: $font-inline-list-font-style;
  font-weight: $font-inline-list-font-weight;
  font-family: $font-inline-list-font-family;
}

// Block Quote - Quote font style
$font-block-quote-quote-font-size: 20px !default;
$font-block-quote-quote-line-height: 25px !default;
$font-block-quote-quote-color: #495057 !default;
$font-block-quote-quote-font-style: normal !default;
$font-block-quote-quote-font-weight: 400 !default;
$font-block-quote-quote-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-block-quote-quote () {
  font-size: $font-block-quote-quote-font-size;
  line-height: $font-block-quote-quote-line-height;
  color: $font-block-quote-quote-color;
  font-style: $font-block-quote-quote-font-style;
  font-weight: $font-block-quote-quote-font-weight;
  font-family: $font-block-quote-quote-font-family;
}

// Blockquote - Author font style
$font-blockquote-author-font-size: 10px !default;
$font-blockquote-author-line-height: 15px !default;
$font-blockquote-author-text-align: start !default;
$font-blockquote-author-color: #495057 !default;
$font-blockquote-author-letter-spacing: 0.8333333px !default;
$font-blockquote-author-text-transform: uppercase !default;
$font-blockquote-author-font-style: normal !default;
$font-blockquote-author-font-weight: bold !default;
$font-blockquote-author-font-family: Arial, Helvetica, Sans-Serif !default;

@mixin font-blockquote-author () {
  font-size: $font-blockquote-author-font-size;
  line-height: $font-blockquote-author-line-height;
  color: $font-blockquote-author-color;
  letter-spacing: $font-blockquote-author-letter-spacing;
  text-transform: $font-blockquote-author-text-transform;
  font-style: $font-blockquote-author-font-style;
  font-weight: $font-blockquote-author-font-weight;
  font-family: $font-blockquote-author-font-family;
}


// Radius
$radius-sm: 2px !default;
$radius-md: 4px !default;
$radius-lg: 6px !default;
$radius-square: 0 !default;
$radius-round: 100% !default;
$radius-pill: 200px !default;

// Spacing
$spacing-none: 0 !default;
$spacing-xs: 0.25rem !default;
$spacing-sm: 0.5rem !default;
$spacing-md: 1rem !default;
$spacing-lg: 2rem !default;
$spacing-xl: 4rem !default;
$spacing-xxl: 8rem !default;
$spacing-xxxl: 16rem !default;
$spacing-global-padding: 1rem !default;
$spacing-global-margin: 1rem !default;
$spacing-global-gutter: 1.5rem !default;

// Sizing
$sizing-sidebar-width: 310px !default;
$sizing-sidebar-width-sm: 275px !default;
$sizing-full-width: 100% !default;
$sizing-icon-xs: 10px !default;
$sizing-icon-sm: 12px !default;
$sizing-icon-md: 14px !default;
$sizing-icon-lg: 16px !default;
$sizing-icon-xl: 18px !default;
$sizing-container-fixed-max-width: 1200px !default;
