@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  background-color: $control-background;
  border: 1px solid $control-border;
  border-radius: $radius;
  color: $control;
  display: inline-flex;
  font-size: $control-font-size;
  // height: 30px;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
  vertical-align: top;
  flex: 0 1 auto;

  @include placeholder {
    color: $placeholder-text;
  }

  &:hover {
    border-color: $control-hover-border;
  }

  @include active;
}

@mixin control-small {
  border-radius: $radius-small;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding-left: 6px;
  padding-right: 6px;
}

@mixin control-medium {
  font-size: 18px;
  height: 38px;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin control-large {
  font-size: 24px;
  height: 48px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
