// Display
$displays: 'block' 'flex' 'inline' 'inline-block' 'inline-flex';

@each $display in $displays {
  .ipreo-display-#{$display} {
    display: #{$display};
  }

  .ipreo-display-#{$display}-mobile {
    @include mobile {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-tablet {
    @include tablet {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-tablet-only {
    @include tablet-only {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-touch {
    @include touch {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-desktop {
    @include desktop {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-desktop-only {
    @include desktop-only {
      display: #{$display} !important;
    }
  }

  .ipreo-display-#{$display}-widescreen {
    @include widescreen {
      display: #{$display} !important;
    }
  }
}

// Float

.ipreo-display-clearfix {
  @include clearfix;
}

.ipreo-display-pulled-left {
  float: left;
}

.ipreo-display-pulled-right {
  float: right;
}

// Overflow

.ipreo-display-clipped {
  overflow: hidden !important;
}

// Overlay

.ipreo-display-overlay {
  @include overlay;
}

.ipreo-display-hidden {
  display: none !important;
}

.ipreo-display-hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.ipreo-display-hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.ipreo-display-hidden-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.ipreo-display-hidden-touch {
  @include touch {
    display: none !important;
  }
}

.ipreo-display-hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.ipreo-display-hidden-desktop-only {
  @include desktop-only {
    display: none !important;
  }
}

.ipreo-display-hidden-widescreen {
  @include widescreen {
    display: none !important;
  }
}

// Other
