$primary: #009596;
$color-brand: $primary;

// Primary
$color-primary-0: lighten($primary, 65); // #e3ffff
$color-primary-1: lighten($primary, 50); // #96feff
$color-primary-2: lighten($primary, 40); // #63feff
$color-primary-3: lighten($primary, 30); // #30feff
$color-primary-4: lighten($primary, 20); // #00fafc
$color-primary-5: lighten($primary, 12); // #00d2d3
$color-primary-6: lighten($primary, 6);  // #00b3b5
$color-primary-7: $primary;              // #009596
$color-primary-8: darken($primary, 6);   // #007777
$color-primary-9: darken($primary, 12);  // #005859

$popover-primary-bg   : $color-primary-0;
$popover-primary-color: $color-primary-9;
$control-active-border: $color-primary-5;
$table-row-hover      : $color-primary-0;
$tabs-color: $primary;

$btn-active-selected: #587474;

$alert-primary-color: $color-primary-9;
$alert-primary-icon-color: $primary;
$alert-primary-bg: $color-primary-0;
$toast-alert-info-bar-bg: $color-primary-0;
$btn-shadow-focus:  0 0 3px 1px $color-primary-6;
$select-box-shadow-focus : $color-primary-6;
$anchor-color: $primary;
$anchor-color-hover: $primary;
$anchor-color-active: $color-primary-5;
$modals-confirmation-icon-info-c: $color-primary-6;

$btn-gradient-from-to: true;
$btn-primary-hover       : $color-primary-6;
