$primary: #009596;
$color-brand: $primary;

// Primary
$color-primary-0: lighten($primary, 65);
$color-primary-1: lighten($primary, 50);
$color-primary-2: lighten($primary, 40);
$color-primary-3: lighten($primary, 30);
$color-primary-4: lighten($primary, 20);
$color-primary-5: lighten($primary, 12);
$color-primary-6: lighten($primary, 6);
$color-primary-7: $primary;
$color-primary-8: darken($primary, 6);
$color-primary-9: darken($primary, 12);

$popover-primary-bg   : $color-primary-0;
$popover-primary-color: $color-primary-9;
$control-active-border: $primary;
$table-row-hover      : $color-primary-0;
$tabs-color: $primary;

$alert-primary-color: $color-primary-9;
$alert-primary-icon-color: $primary;
$alert-primary-bg: $color-primary-0;
$toast-alert-info-bar-bg: $color-primary-0;
$btn-shadow-focus:  0 0 3px 1px $color-primary-3;
$select-box-shadow-focus : $color-primary-3;
$anchor-color: $primary;
$anchor-color-hover: $primary;
$anchor-color-active: $color-primary-5;
$modals-confirmation-icon-info-c: $color-primary-6;
