////
/// @group list-groups
////

/// $ui-list-radius       
$ui-list-radius               : true !default;

/// $ui-list-shadows
$ui-list-shadows              : false !default;

/// $ui-list-box-shadow
$ui-list-box-shadow           : inset 0 1px rgba($white, 0.1), inset 0 0 0 1px rgba($white, 0.08), 0 0 7px rgba($black, 0.15) !default;

/// $ui-list-noborder-spacing
$ui-list-noborder-spacing     : 10px !default;

/// $ui-list-item-padding
$ui-list-item-padding         : 12px 16px !default;

/// $ui-list-item-noborder-spacing:
$ui-list-item-noborder-spacing: 8px !default;

/// $ui-list-img-size            
$ui-list-img-size             : $avatar-size !default;

/// $ui-list-left-margin-t       
$ui-list-left-margin-t        : 3px !default;

/// $ui-list-left-body-spacing   
$ui-list-left-body-spacing    : 15px !default;

/// $ui-list-fs                  
$ui-list-fs                   : 16px !default;

/// $ui-list-margin              
$ui-list-margin               : 0 !default;

/// $ui-list-inset-after-offset  
$ui-list-inset-after-offset   : 72px !default;

/// $ui-list-a-list-item-bd      
$ui-list-a-list-item-bd       : 1px solid $color-gray-3 !default;

/// $ui-list-a-list-item-bg-c    
$ui-list-a-list-item-bg-c     : $color-orange-0 !default;

/// $ui-list-a-list-item-bg-hover    
$ui-list-a-list-item-bg-hover     : $color-gray-2 !default;


.c-list-group {
  padding-left: 0;
  padding-right: 0;
  border: $ui-list-a-list-item-bd;
  color: $color-gray-6;

  @if $ui-list-radius == true {
    border-radius: $global-radius;
  } @else {
    border-radius: 0;
  }

  @if $ui-list-shadows == true {
    box-shadow: $ui-list-box-shadow;
  } @else {
    box-shadow: none;
  }

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: $ui-list-item-padding;
    color: inherit;

    &:first-child {
      @if $ui-list-radius == true {
        border-radius: $global-radius $global-radius 0 0;
      } @else {
        border-radius: 0;
      }
    }

    &:last-child {
      @if $ui-list-radius == true {
        border-radius: 0 0 $global-radius $global-radius;
      } @else {
        border-radius: 0;
      }

      border-bottom: 0;
    }

    &.c-list-group-item-active,
    &.c-list-group-item-active:focus,
    &.c-list-group-item-active:hover {
      color: $white;
      background-color: $primary;
      border-color: $ui-list-a-list-item-bg-hover;
      border-bottom-color: $ui-list-a-list-item-bg-hover;

      a {
        color: inherit;
      }
    }
  }

  &-item-right {
    padding-left: $ui-list-left-body-spacing;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &-item-left {
    padding-right: $ui-list-left-body-spacing;
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
  }
}

.c-list-group-body {
  font-size: $ui-list-fs;
  margin: 0;
  font-weight: normal;
}

.c-list-group-hoverable {
  .c-list-group-item {
    &.hover,
    &:focus,
    &:hover {
      color: inherit;
      background-color: $ui-list-a-list-item-bg-c;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.c-list-group-bordered {
  .c-list-group-item {
    border-bottom: 1px solid $ui-list-a-list-item-bg-hover;
  }

  &:last-child {
    @if $ui-list-radius == true {
      border-radius: 0 0 $global-radius $global-radius;
    } @else {
      border-radius: 0;
    }

    border-bottom: 0;
  }
}
