// Setup - Values may be edited - !!!DO NOT REMOVE THESE VARIABLES!!!
// ========================================================================== //
$row-namespace: '.c-row' !default;
$col-namespace: '.c-col' !default;
$gutter: $spacing-global-gutter !default;
$total-columns: 12 !default;
$container-fixed-width: $sizing-container-fixed-max-width !default;
$grid-gutter-width: 30px !default;

// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

