
// Setup - Values may be edited - !!!DO NOT REMOVE THESE VARIABLES!!!
// ========================================================================== //
$auto-generate: true !default;
$row-namespace: '.c-row' !default;
$col-namespace: '.c-col' !default;
$gutter: .8rem !default;
$columns: 12 !default;


// Breakpoints
// Please note that adding more breakpoints adds quite a lot of extra css depending on the optional features
$ipreo-breakpoints: (
  'xs':25rem,
  'sm':37.5rem,
  'md':60rem,
  'lg':90rem ) !default;

// Optional row features - Set to true to enable
$row-align: true !default;
$row-justify: true !default;
$row-wrap: true !default;
$col-order: true !default;
$col-offset: true !default;
$col-align: true !default;
$gutter-collapse: true !default;


// row generator - 
// ==========================================================================


// Utils
// ==========================================================================
@function format-breakpoint($breakpoint) {
  @return if($breakpoint, '-' + $breakpoint + '-', '-');
}


// Cols
// ==========================================================================
@mixin generate-all-cols() {
  @include create-cols();
}

@mixin create-cols($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  @for $i from 1 through $columns {
    & > #{$col-namespace}#{$breakpoint}#{$i} {
      @include create-col($i);
    }
  }
}


// Accepts number input
//	- @include create-col(3)
@mixin create-col($column: 1) {
  flex: 0 0 auto;

  @if (type-of($column) != number) {
    @error "create-col: Please define a number variable.";
  }

  width: (100% / $columns) * $column;
}


// Alignment of all cols within a row section
// ==========================================================================
@mixin row-align($value: 'stretch') {
  $values: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    stretch: 'stretch'
  );

  @if map-has-key($values, $value) {
    align-items: #{map-get($values, $value)};
  }

  @else {
    @error "row-align: Please enter a valid property;"flex-start","flex-end","center"or"stretch"";
  }
}

@mixin generate-row-align($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}align-stretch {
    @include row-align();
  }

  &#{$breakpoint}align-top {
    @include row-align('start');
  }

  &#{$breakpoint}align-bottom {
    @include row-align('end');
  }

  &#{$breakpoint}align-center {
    @include row-align('center');
  }
}


// Justify individual cols
// ==========================================================================
@mixin row-justify($value: null) {
  $values: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    space-between: 'space-between',
    space-around: 'space-around'
  );

  @if map-has-key($values, $value) {
    justify-content: #{map-get($values, $value)};
  }

  @else {
    @error "justify-content: Please enter a valid property;"flex-start","flex-end","center","space-between"or"space-around"";
  }
}

@mixin generate-row-justify($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}justify {
    &-start {
      @include row-justify(start);
    }

    &-end {
      @include row-justify(end);
    }

    &-center {
      @include row-justify(center);
    }

    &-space-between {
      @include row-justify(space-between);
    }

    &-space-around {
      @include row-justify(space-around);
    }
  }
}

// row section with automatically wrapping cols
// ==========================================================================
@mixin row-wrap($value: 'nowrap') {
  $values: (
    wrap: 'wrap',
    reverse: 'wrap-reverse',
    nowrap: 'nowrap'
  );

  @if map-has-key($values, $value) {
    flex-wrap: #{map-get($values, $value)};
  }

  @else {
    @error "row-wrap: Please enter a valid property;"wrap","wrap-reverse","nowrap"";
  }
}

@mixin generate-row-wrap($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}wrap {
    @include row-wrap('wrap');

    > #{$col-namespace} {
      flex-basis: auto;
    }
  }

  &#{$breakpoint}wrap-reverse {
    @include row-wrap('reverse');

    > #{$col-namespace} {
      flex-basis: auto;
    }
  }

  &#{$breakpoint}nowrap {
    @include row-wrap();
  }
}

// Cell order (order is 0 by default)
// ==========================================================================
@mixin col-order($value: 'start') {
  @if ($value == 'start') {
    order: -1;
  }

  @else if($value == 'end') {
    order: $columns;
  }

  @else {
    @if (type-of($value) != number) {
      @error "col-order: Please enter a valid property;"start","end"or a number";
    }

    order: $value;
  }
}

@mixin generate-col-order($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}order {
    // Useful for pulling a single column to the front of the row
    &-start {
      @include col-order(start);
    }

    // Useful for pushing a single column to the end of the row
    &-end {
      @include col-order(end);
    }

    // Create offset classes used to control col order
    @for $i from 1 through $columns {
      &-#{$i} {
        @include col-order($i - 1);
      }
    }
  }
}


// Cell positioning through offset
// ========================================================================== */
@mixin generate-col-offset($breakpoint: null) {
  @include col-column-offset($breakpoint);
}

@mixin col-column-offset($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}offset {
    &-0 {
      margin-left: 0;
    }

    @for $i from 1 through $columns {
      &-#{$i} {
        @include col-offset($i);
      }
    }
  }
}

@mixin col-offset($value: 1) {
  @if (type-of($value) != number) {
    @error "Please define a number variable.";
  }

  margin-left: (100% / $columns) * $value;
}


// Alignment of individual cols
// ==========================================================================
@mixin col-align($value: 'stretch') {
  $values: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    stretch: 'stretch'
  );

  @if map-has-key($values, $value) {
    align-self: #{map-get($values, $value)};
  }

  @else {
    @error "col-align: Please enter a valid property;"flex-start","flex-end","center"or"stretch"";
  }
}

@mixin generate-col-align($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}align {
    &-top {
      @include col-align(start);
    }

    &-bottom {
      @include col-align(end);
    }

    &-center {
      @include col-align(center);
    }

    &-stretch {
      @include col-align(stretch);
    }
  }
}

// Justify individual cols
// ==========================================================================
@mixin col-justify($value: null) {
  $values: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    space-between: 'space-between',
    space-around: 'space-around'
  );

  @if map-has-key($values, $value) {
    justify-content: #{map-get($values, $value)};
  }

  @else {
    @error "justify-content: Please enter a valid property;"flex-start","flex-end","center","space-between"or"space-around"";
  }
}

@mixin generate-col-justify($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}justify {
    &-start {
      @include col-justify(start);
    }

    &-end {
      @include col-justify(end);
    }

    &-center {
      @include col-justify(center);
    }

    &-space-between {
      @include col-justify(space-between);
    }

    &-space-around {
      @include col-justify(space-around);
    }
  }
}

// row or col without gutters
// ==========================================================================
@mixin generate-gutter-collapse($breakpoint: null) {
  @include row-gutter-collapsed($breakpoint);
  @include row-gutter-expanded($breakpoint);
  @include col-gutter-collapsed($breakpoint);
  @include col-gutter-expanded($breakpoint);
}

// row where none of the cols have gutters
@mixin row-gutter-collapsed($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}collapsed {
    > #{$col-namespace} {
      @include gutter-collapsed();
    }
  }
}

@mixin row-gutter-expanded($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}expanded {
    > #{$col-namespace} {
      @include gutter-expanded();
    }
  }
}

// Specific col without gutters
@mixin col-gutter-collapsed($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}collapsed {
    @include gutter-collapsed();
  }
}

// Specific col without gutters
@mixin col-gutter-expanded($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint}expanded {
    @include gutter-expanded();
  }
}

@mixin gutter-collapsed() {
  padding: 0;
}

@mixin gutter-expanded() {
  padding: $gutter;
}

// Create responsive classes for all additional options
// ==========================================================================
@mixin create-responsive-classes() {
  @each $breakpoint, $size in $ipreo-breakpoints {
    @media (min-width: $size) {
      // $base

      @include create-cols($breakpoint);
      @include generate-row-layout($breakpoint);

      // Optional

      @if $row-align {
        & > #{$col-namespace} {
          @include generate-row-align($breakpoint);
        }
      }

      @if $row-justify {
        @include generate-row-justify($breakpoint);
      }

      @if $row-wrap {
        @include generate-row-wrap($breakpoint);
      }

      @if $col-order {
        & > #{$col-namespace} {
          @include generate-col-order($breakpoint);
        }
      }

      @if $col-offset {
        & > #{$col-namespace} {
          @include generate-col-offset($breakpoint);
        }
      }

      @if $col-align {
        & > #{$col-namespace} {
          @include generate-col-align($breakpoint);
        }
      }

      @if $gutter-collapse {
        @include generate-gutter-collapse($breakpoint);
      }
    }
  }
}


// Base
// ==========================================================================
@mixin create-row() {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin create-row-col() {
  // Not using flex shorthand because IE 10/11 ignore shorthand declarations with a unitless flex-basis value
  // https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
  flex-basis: 0%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;

  // Child items of a row section also have display flex to allow same-height (stretched) modules within multiple cols
  // display: flex;
  // max-width: 100%;
  padding: $gutter / 2;

  > * {
    // 	// All direct child elements within a col try to use up the maximum (and same) amount of available space
    // flex-grow: 1;
  }
}

@mixin generate-full-row() {
  @include create-row();

  > #{$col-namespace} {
    @include create-row-col();
  }
}

@mixin generate-row-layout($breakpoint: null) {
  $breakpoint: format-breakpoint($breakpoint);

  &#{$breakpoint} {
    &horizontal {
      @include row-layout(horizontal);
    }

    &vertical {
      @include row-layout(vertical);

      // IE Fix to prevent cols from not having a height in a vertical row layout
      > #{$col-namespace} {
        flex-basis: auto;
      }
    }
  }
}

@mixin row-layout($value: 'horizontal') {
  $values: (horizontal: 'row', vertical: 'column');

  @if map-has-key($values, $value) {
    flex-direction: #{map-get($values, $value)};
  }

  @else {
    @error "row-layout allowed properties:"horizontal"and"vertical"";
  }
}


// Generate all the things
// ==========================================================================
@if ($auto-generate) {
  #{$row-namespace} {
    @include generate-full-row();
    @include generate-row-layout();
    @include generate-all-cols();

    // Optional
    @if $row-align {
      @include generate-row-align();
    }

    @if $row-justify {
      @include generate-row-justify();
    }

    @if $row-wrap {
      @include generate-row-wrap();
    }

    @if $col-order {
      & > #{$col-namespace} {
        @include generate-col-order();
      }
    }

    @if $col-offset {
      @include generate-col-offset();
    }

    @if $col-align {
      & > #{$col-namespace} {
        @include generate-col-align();
      }
    }

    @if $gutter-collapse {
      @include generate-gutter-collapse();
    }

    // Responsive classes
    @include create-responsive-classes();
  }
}

#{$row-namespace} {
  > #{$col-namespace}-shrink {
    flex: 0 0 auto;
    max-width: 100%;
  }
}

#{$row-namespace}-unstack {
  > #{$col-namespace} {
    flex: 0 0 100%;
  }
}
